{% extends 'dashboard/app/base.html' %}
{% load staticfiles %}
{% block content %}

    <div class="main-content">
        <!-- Top navbar -->
        {% include 'dashboard/app/top-navbar.html' %}
        <!-- Header -->
        <input id="view-tag" value="error" hidden>
        <div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 600px; background-image: url({% static 'assets/img/theme/laptop.jpg' %}); background-size: cover; background-position: center top;">

            <!-- Mask -->
            <span class="mask bg-gradient-default opacity-8"></span>
            <!-- Header container -->
            <div class="container-fluid align-items-center">
                <div class="row">
                    <div class="col-lg-9 col-md-9">
                        <h1 class="display-2 text-white">Error :(</h1>
                        <p class="text-white mt-0 mb-5">{{ code }}</p>
                        <h2 class="text-white">{{ title }}</h2>
                        <p class="text-white mt-0 mb-5">{{ desc }}</p>
                        {% if link %}
                            <a class="btn btn-outline-white" href="{{ link }}">{{ link_desc }}</a>
                        {% endif %}
                        {% if error_type == 'allocating' %}
                            <script>
                                setTimeout(function(){
                                    window.location.reload();
                                }, 5000);
                            </script>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <!-- Page content -->
        <div class="container-fluid mt--10">
            <!-- Footer -->
            <footer class="footer">
                <div class="row align-items-center justify-content-xl-between">
                    <div class="col-xl-6">
                        <div class="copyright text-center text-xl-left text-muted">
                            &copy; 2018 <a href="https://aws-interface.com" class="font-weight-bold ml-1" target="_blank">AWS Interface</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>

    </div>

{% endblock %}