{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta name="description" content="클릭으로 만드는 백엔드 서비스">
    <meta name="author" content="김창환, 허남규">
    <meta property="og:image" content="{%  static 'assets/img/theme/laptop-meta.jpg' %}"/>
    <title>AWS Interface | Login</title>
    <!-- Favicon -->
    <link href="{%  static 'assets/img/brand/favicon.png' %}" rel="icon" type="image/png">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <!-- Icons -->
    <link href="{%  static 'assets/vendor/nucleo/css/nucleo.css' %}" rel="stylesheet">
    <link href="{%  static 'assets/vendor/@fortawesome/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
    <!-- Argon CSS -->
    <link type="text/css" href="{%  static 'assets/css/argon.css' %}" rel="stylesheet">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-134607667-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-134607667-1');
    </script>

</head>

<body class="bg-default">
<div class="main-content">
    <!-- Navbar -->
    <nav class="navbar navbar-top navbar-horizontal navbar-dark">
        <div class="container px-4">
            <a class="navbar-brand" href="{%  url 'index' %}">
                <img src="{% static 'assets/img/brand/white.png' %}" />
            </a>
            <a class="btn btn-outline-white" href="{%  url 'register' %}">
                <i class="ni ni-circle-08 align-items-center"></i>
                <span class="nav-link-inner--text">{{ _('Sign-up') }}</span>
            </a>
        </div>
    </nav>
    <!-- Header -->
    <div class="header bg-gradient-primary py-7 py-lg-8">
        <div class="container">
            <div class="header-body text-center mb-7">
                <div class="row justify-content-center">
                    <div class="col-lg-5 col-md-6">
                        <h1 class="text-white">AWS Interface</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="separator separator-bottom separator-skew zindex-100">
            <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
            </svg>
        </div>
    </div>
    <!-- Page content -->
    <div class="container mt--8 pb-5">
        <div class="row justify-content-center">
            <div class="col-lg-5 col-md-7">
                <div class="card bg-secondary shadow border-0">
                    <div class="card-body px-lg-5 py-lg-5">
                        <form role="form" method="post">{% csrf_token %}
                            <div class="form-group mb-3">
                                <div class="input-group input-group-alternative">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                                    </div>
                                    <input id="email" name="email" class="form-control" placeholder="Email" type="email">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="input-group input-group-alternative">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                                    </div>
                                    <input id="password" name="password" class="form-control" placeholder="Password" type="password">
                                </div>
                            </div>
                            <div class="text-center">
                                <button id="login" type="submitm" class="btn btn-block btn-primary my-4">{{ _('Sign-in') }}</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-12 text-right">
                        <a id="register" href="{% url 'register' %}" class="text-light"><small>{{ _('Sign-up') }}</small></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer -->
<footer class="py-5">
    <div class="container">
        <div class="row align-items-center justify-content-xl-between">
            <div class="col-xl-6">
                <div class="copyright text-center text-xl-left text-muted">
                    &copy; 2018 <a href="http://aws-interface.com" class="font-weight-bold ml-1" target="_blank">AWS Interface</a>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Argon Scripts -->
<!-- Core -->
<script src="{% static "assets/vendor/jquery/dist/jquery.min.js" %}"></script>
<script src="{% static "assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js" %}"></script>
<!-- Argon JS -->
<script src="{% static "assets/js/argon.js" %}"></script>


<script type="text/javascript">
    $(function(){
        {% if alert %}
            alert('{{ alert }}');
        {% endif %}
    });
</script>


</body>

</html>