{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta name="description" content="클릭으로 만드는 백엔드 서비스">
    <meta name="author" content="김창환, 허남규">
    <meta property="og:image" content="{%  static 'assets/img/theme/laptop-meta.jpg' %}"/>
    <title>AWS Interface | Register</title>
    <!-- Favicon -->
    <link href="{% static "assets/img/brand/favicon.png" %}" rel="icon" type="image/png">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <!-- Icons -->
    <link href="{% static "assets/vendor/nucleo/css/nucleo.css" %}" rel="stylesheet">
    <link href="{% static "assets/vendor/@fortawesome/fontawesome-free/css/all.min.css" %}" rel="stylesheet">
    <!-- Argon CSS -->
    <link type="text/css" href="{% static "assets/css/argon.css" %}" rel="stylesheet">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-134607667-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-134607667-1');
    </script>
</head>

<body class="bg-default">
<div class="main-content">
    <!-- Navbar -->
    <nav class="navbar navbar-top navbar-horizontal navbar-expand-md navbar-dark">
        <div class="container px-4">
            <a class="navbar-brand" href="{%  url 'index' %}">
                <img src="{% static "assets/img/brand/white.png" %}" />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse-main" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar-collapse-main">
                <!-- Collapse header -->
                <div class="navbar-collapse-header d-md-none">
                    <div class="row">
                        <div class="col-6 collapse-brand">
                            <a href="{% url 'index' %}">
                                <img src="{% static "assets/img/brand/blue.png" %}">
                            </a>
                        </div>
                        <div class="col-6 collapse-close">
                            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-collapse-main" aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle sidenav">
                                <span></span>
                                <span></span>
                            </button>
                        </div>
                    </div>
                </div>
                <!-- Navbar items -->
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link nav-link-icon" href="{% url 'login' %}">
                            <i class="ni ni-key-25"></i>
                            <span class="nav-link-inner--text">로그인</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Header -->
    <div class="header bg-gradient-primary py-7 py-lg-8">
        <div class="container">
            <div class="header-body text-center mb-7">
                <div class="row justify-content-center">
                    <div class="col-lg-5 col-md-6">
                        <h1 class="text-white">환영합니다</h1>
                        <p class="text-lead text-white"><a target="_blank" href="https://s3.ap-northeast-2.amazonaws.com/aws-interface.com/docs/start_awsi.pdf" class="text-info"><b>백엔드 인증 정보</b></a> 를 등록하여 시작하기</p>
                        <h4 class="text-light">백엔드 인증 정보는 암호화 되어 저장됩니다</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="separator separator-bottom separator-skew zindex-100">
            <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
            </svg>
        </div>
    </div>
    <!-- Page content -->
    <div class="container mt--8 pb-5">
        <!-- Table -->
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8">
                <div class="card bg-secondary shadow border-0">
                    <div class="card-body px-lg-5 py-lg-5">
                        <div class="text-center text-muted mb-4">
                            <h3>기본 회원 정보</h3>
                        </div>

                        <form role="form" method="post">{% csrf_token %}
                            <div class="form-group">
                                <div class="input-group input-group-alternative mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                                    </div>
                                    <input id="email" name="email" class="form-control" placeholder="Email" type="email">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group input-group-alternative">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                                    </div>
                                    <input id="password" name="password" class="form-control" placeholder="Password" type="password">
                                </div>
                            </div>

                            <div class="dropdown-divider"></div>
                            <div class="text-left text-muted mb-3 mt-3">
                                <h4>백엔드 인증 정보 <a href="https://aws-interface.com/docs/start_awsi.pdf"><i class="ni ni-support-16" data-toggle="tooltip" data-placement="top" title="클릭하여 알아보기"></i></a></h4>
                                <div class="text-left text-muted">
                                    <select id="vendor" name="vendor">
                                        <option value="aws">Amazon Web Service (AWS)</option>
                                    </select>

                                </div>
                            </div>

                            <div class="form-group">
                                <div class="input-group input-group-alternative mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="ni ni-active-40"></i></span>
                                    </div>
                                    <input id="access_key" name="aws_access_key" class="form-control" placeholder="Access key" type="text">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group input-group-alternative mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="ni ni-key-25"></i></span>
                                    </div>
                                    <input id="secret_key" name="aws_secret_key" class="form-control" placeholder="Secret key" type="password" autocomplete="off">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group input-group-alternative mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="ni ni-world"></i></span>
                                    </div>
                                    <select id="region" name="aws_region" class="form-control">
                                        <option value="ap-northeast-2">ap-northeast-2 아시아 태평양(서울)</option>
                                        <option value="us-east-2">us-east-2 미국 동부(오하이오)</option>
                                        <option value="us-east-1">us-east-1	미국 동부(버지니아 북부)</option>
                                        <option value="us-west-1">us-west-1 미국 서부(캘리포니아 북부)</option>
                                        <option value="us-west-2">us-west-2 미국 서부(오레곤)</option>
                                        <option value="ap-east-1">ap-east-1 아시아 태평양(홍콩)</option>
                                        <option value="ap-south-1">ap-south-1 아시아 태평양(뭄바이)</option>
                                        <option value="ap-southeast-1">ap-southeast-1 아시아 태평양(싱가포르)</option>
                                        <option value="ap-southeast-2">ap-southeast-2 아시아 태평양(시드니)</option>
                                        <option value="ap-northeast-1">ap-northeast-1 아시아 태평양(도쿄)</option>
                                        <option value="ca-central-1">ca-central-1 캐나다(중부)</option>
                                        <option value="cn-north-1">cn-north-1 중국(베이징)</option>
                                        <option value="cn-northwest-1">cn-northwest-1 중국(닝샤)</option>
                                        <option value="eu-central-1">eu-central-1 EU(프랑크푸르트)</option>
                                        <option value="eu-west-1">eu-west-1 EU(아일랜드)</option>
                                        <option value="eu-west-2">eu-west-2 EU(런던)</option>
                                        <option value="eu-west-3">eu-west-3 EU(파리)</option>
                                        <option value="eu-north-1">eu-north-1 EU(스톡홀름)</option>
                                        <option value="sa-east-1">sa-east-1 남아메리카(상파울루)</option>
                                        <option value="us-gov-east-1">us-gov-east-1 AWS GovCloud (미국 동부)</option>
                                        <option value="us-gov-west-1">us-gov-west-1 AWS GovCloud (US)</option>
                                    </select>
                                </div>
                            </div>

                            <div class="text-center">
                                <button id="register" type="submit" class="btn btn-primary mt-4">가입하기</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer -->
<footer class="py-5">
    <div class="container">
        <div class="row align-items-center justify-content-xl-between">
            <div class="col-xl-6">
                <div class="copyright text-center text-xl-left text-muted">
                    &copy; 2018 <a href="http://aws-interface.com" class="font-weight-bold ml-1" target="_blank">AWS Interface</a>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Argon Scripts -->
<!-- Core -->
<script src="{% static "assets/vendor/jquery/dist/jquery.min.js" %}"></script>
<script src="{% static "assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js" %}"></script>
<!-- Argon JS -->
<script src="{% static "assets/js/argon.js" %}"></script>

<script type="text/javascript">
    $(function(){
        {% if alert %}
            alert('{{alert}}');
        {% endif %}
    });
</script>

</body>

</html>