{% load timetags %}

{% for user in users %}
    <tr>
        <th scope="row">
            {{ user.id }}
        </th>
        <td>
            {{ user.creation_date|to_date }}
        </td>
        <td name="col-user-email">
            {{ user.email }}
        </td>
        <td>
            {% for group in user.groups %}
                <a onclick="detach_user_group('{{ user.id }}', '{{group}}')" class="btn badge badge-primary">{{ group }} <i class="fa fa-trash"></i></a>
            {% endfor %}
            <a data-toggle="modal" data-target="#modal-attach-user-group-{{ user.id }}" class="btn badge badge-info">+</a>

            <div class="modal fade" id="modal-attach-user-group-{{ user.id }}" tabindex="-1" role="dialog" aria-labelledby="modal-attach-user-group-{{ user.id }}" aria-hidden="true">
                <div class="modal-dialog modal- modal-dialog-centered modal-" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="modal-title-default">{{ _('Attach groups') }}</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <form method="post">{% csrf_token %}
                            <input name="cmd" value="attach_user_group" hidden>
                            <input name="user_id" value="{{ user.id }}" hidden>
                            <div class="modal-body">
                                <div class="pl-lg-12">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <label class="form-control-label" for="input-username">{{ _('Group name') }}</label>
                                                <select id="group-name" name="group_name" class="form-control form-control-alternative">
                                                    {% for group in user_groups %}
                                                        <option value="{{ group.name }}">{{ group.name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <p>
                                    {{ _('Click the confirm button to attach this group.') }}
                                </p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-link  ml-auto" data-dismiss="modal">{{ _('Cancel') }}</button>
                                <button id="attach-user-group-{{ user.id }}" type="submit" class="btn btn-primary">{{ _('Confirm') }}</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </td>
        <td>
            {{ user.login_method }}
        </td>
        <td>
            {% for key, value in user.items %}
                {% if key not in visible_user_fields and key not in none_extra_fields %}
                    <h5> {{ key }} : {{ value }} </h5>
                {% endif %}
            {% endfor %}

        </td>

        <td>
            <div class="custom-control custom-radio mt--4">
                <input class="custom-control-input" type="radio" name="checkbox-user" id="{{ user.id }}">
                <label class="custom-control-label" for="{{ user.id }}"></label>
            </div>
        </td>
    </tr>
{% endfor %}