{% load timetags %}

{% for file in files %}
    <tr>
        <td scope='row'><a href='{% url 'storage' app_id %}?cmd=download_b64&file_id={{ file.id }}'>{{ file.id }}</a></td>
        <td>{{ file.file_name }} </td>
        <td>{{ file.owner }} </td>
        <td>{{ file.creation_date|to_date}} </td>
        <td>{{ file.file_size|filesizeformat }} </td>
        <td>
            <button onclick="delete_b64('{{ item.id }}')" class='btn btn-sm btn-danger'>제거</button>
        </td>
    </tr>
{% endfor %}