blessed
boto3
cached-property
cement
certifi
chardet
colorama
Django
# Django
docopt
docutils
future
idna
jmespath
jsonschema
pathspec
pyaes
pyasn1
python-dateutil
pytz
pyyaml>=4.2b1
requests
rsa
# rsa
s3transfer
semantic-version
shortuuid
simplejson
six
termcolor
texttable
urllib3
wcwidth
websocket-client
django_storages
Pillow
django_otp
emails