awsebcli
blessed==1.15.0
boto3
botocore
cached-property==1.5.1
cement==2.8.2
certifi==2018.11.29
chardet==3.0.4
colorama==0.3.9
Django
docopt==0.6.2
docutils==0.14
future==0.16.0
idna==2.7
jmespath==0.9.3
jsonschema==2.6.0
pathspec==0.5.9
pyaes==1.6.1
pyasn1==0.4.5
python-dateutil==2.7.5
pytz==2018.7
pyyaml==3.13
requests==2.20.1
rsa==3.4.2
s3transfer==0.2.0
semantic-version==2.5.0
shortuuid==0.5.0
simplejson==3.16.0
six==1.11.0
termcolor==1.1.0
texttable==0.9.1
urllib3==1.24.2
wcwidth==0.1.7
websocket-client==0.56.0
selenium
django_storages
Pillow
mysqlclient==2.0.1