option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: settings.production
  aws:elasticbeanstalk:container:python:
    WSGIPath: wsgi.py

container_commands:
  01_migrate:
    command: "python manage.py makemigrations"
  02_migrate:
    command: "python manage.py migrate"
  03_collectstatic:
    command: "python manage.py collectstatic --noinput"
  04_createsu:
    command: "python manage.py createsu"
    leader_only: true

files:
  "/etc/httpd/conf.d/ssl_rewrite.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      RewriteEngine On
      <If "-n '%{HTTP:X-Forwarded-Proto}' && %{HTTP:X-Forwarded-Proto} != 'https'">
      RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R,L]
      </If>
