{% extends 'dashboard/app/base.html' %}
{% load staticfiles %}
{% load timetags %}
{% block content %}

<div class="main-content">
    <!-- Top navbar -->
    {% include 'dashboard/app/top-navbar.html' %}
    <!-- Header -->
    <input id="view-tag" value="auth" hidden>
    <div class="header bg-gradient-primary pb-7 pt-5 pt-md-8">
      <div class="container-fluid">
        <div class="header-body">

            <div class="alert alert-primary" role="alert">
                <strong>AWS DynamoDB, AWS Lambda, AWS APIGateway</strong>  를 사용합니다.
            </div>


          <!-- Card stats -->
          <div class="row">
            <div class="col-xl-6 col-lg-6">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">총 회원 수</h5>
                      <span class="h2 font-weight-bold mb-0">{{ user_count.item.count }} 명</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                        <i class="fas fa-user-friends"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
              <div class="col-xl-6 col-lg-6">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">접속 중인 세션 수</h5>
                      <span class="h2 font-weight-bold mb-0">{{ session_count.item.count }} 개</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <!-- Page content -->
    <div class="container-fluid mt--7">
      <div class="row mt-4">
        <div class="col-xl-12 mb-5 mb-xl-0">
          <div class="card shadow">
            <div class="card-header border-0">
              <div class="row align-items-center">
                <div class="col">
                  <h3 class="mb-0">
                      <span class="badge badge-primary">설정</span>
                      회원 그룹
                  </h3>
                </div>
                <div class="col text-right">
                  <a id="create-group-modal" data-toggle="modal" data-target="#modal-put-group" class="btn btn-sm btn-primary">
                      <span class="btn-inner--text" style="color: white;">그룹 생성</span>
                  </a>
                </div>
                  <div class="modal fade" id="modal-put-group" tabindex="-1" role="dialog" aria-labelledby="modal-put-group" aria-hidden="true">
                    <div class="modal-dialog modal- modal-dialog-centered modal-" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h4 class="modal-title" id="modal-title-default">그룹 생성</h4>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                          </button>
                        </div>
                        <form method="post">{% csrf_token %}
                            <input name="cmd" value="put_group" hidden>
                            <div class="modal-body">
                                <div class="pl-lg-12">
                                  <div class="row">
                                    <div class="col-lg-12">
                                      <div class="form-group">
                                        <label class="form-control-label" for="input-username">이름</label>
                                        <input id="group-name" name="group_name" type="text" id="input-username" class="form-control form-control-alternative" placeholder="그룹 이름">
                                      </div>
                                        <div class="form-group">
                                        <label class="form-control-label" for="input-username">설명</label>
                                        <input id="group-description" name="group_description" type="text" id="input-username" class="form-control form-control-alternative" placeholder="그룹 설명">
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              <p>
                                  확인 버튼을 클릭하여 회원 그룹을 생성합니다.
                              </p>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-link  ml-auto" data-dismiss="modal">취소</button>
                              <button id="create-group" type="submit" class="btn btn-primary">확인</button>
                            </div>
                        </form>
                      </div>
                    </div>
                  </div>

              </div>
            </div>
            <div class="table-responsive">
              <!-- Projects table -->
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">이름</th>
                    <th scope="col">설명</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                {% for group in user_groups %}
                  <tr>
                    <th name="group-name" scope="row">
                      {{ group.name }}
                    </th>
                    <td name="group-description">
                      {{ group.description }}
                    </td>
                    <td>
                      <div class="col text-right">
                          <form role="form" method="post">{% csrf_token %}
                              <input name="cmd" value="delete_group" hidden>
                              <input name="group_name" value="{{ group.name }}" hidden>
                            <button id="remove-group-{{ group.name }}" type="submit" class="btn btn-sm btn-danger">제거</button>
                          </form>
                      </div>
                    </td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <div class="row mt-4">
        <div class="col-xl-12 mb-5 mb-xl-0">
          <div class="card shadow">
            <div class="card-header border-0">
              <div class="row align-items-center">
                <div class="col">
                  <h3 class="mb-0">
                      <span class="badge badge-primary">설정</span>
                      로그인 방법
                  </h3>
                </div>
              </div>
            </div>
            <div class="table-responsive">
              <!-- Projects table -->
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">방법</th>
                    <th scope="col">설명</th>
                    <th scope="col">기본 그룹</th>
                    <th scope="col">사용</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">
                      이메일/비밀번호 로그인
                    </th>
                    <td>
                        <a href="">login</a> API를 이용하여 로그인합니다
                    </td>
                    <td>
                        <select id="email_default_group" class="form-control">
                            {% for group in user_groups %}
                                {% if group.name == email_login.default_group_name %}
                                    <option value="{{ group.name }}" selected>{{ group.name }}</option>
                                {% else %}
                                    <option value="{{ group.name }}">{{ group.name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        <label class="custom-toggle">
                            {% if email_login.enabled %}
                                <input id="email_enabled" type="checkbox" checked>
                            {% else %}
                                <input id="email_enabled" type="checkbox">
                            {% endif %}
                          <span class="custom-toggle-slider rounded-circle"></span>
                        </label>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">
                      익명 로그인
                    </th>
                    <td>
                      <a href="">guest</a> API를 이용하여 로그인합니다
                    </td>
                    <td>
                        <select id="guest_default_group" class="form-control">
                            {% for group in user_groups %}
                                {% if group.name == guest_login.default_group_name %}
                                    <option value="{{ group.name }}" selected>{{ group.name }}</option>
                                {% else %}
                                    <option value="{{ group.name }}">{{ group.name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        <label class="custom-toggle">
                          {% if guest_login.enabled %}
                              <input id="guest_enabled" type="checkbox" checked>
                          {% else %}
                              <input id="guest_enabled" type="checkbox">
                          {% endif %}
                          <span class="custom-toggle-slider rounded-circle"></span>
                        </label>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <div class="row mt-4">
          <div class="col-xl-12">
          <div class="card shadow">
            <div class="card-header border-0">
              <div class="row align-items-center">
                <div class="col">
                  <h3 class="mb-0">
                      가입된 회원
                  </h3>
                </div>

                  <div class="col text-right">
                  <a data-toggle="modal" data-target="#modal-put-user" class="btn btn-sm btn-primary">
                      <span class="btn-inner--text" style="color: white;">회원 생성</span>
                  </a>
                </div>
                  <div class="modal fade" id="modal-put-user" tabindex="-1" role="dialog" aria-labelledby="modal-put-user" aria-hidden="true">
                    <div class="modal-dialog modal- modal-dialog-centered modal-" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h4 class="modal-title" id="modal-title-default">회원 생성</h4>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                          </button>
                        </div>
                        <form method="post">{% csrf_token %}
                            <input name="cmd" value="put_user" hidden>
                            <div class="modal-body">
                                <div class="pl-lg-12">
                                  <div class="row">
                                    <div class="col-lg-12">

                                      <div class="form-group">
                                        <label class="form-control-label" for="input-username">이메일</label>
                                        <input name="user_email" type="email" id="input-username" class="form-control form-control-alternative" placeholder="example@email.com">
                                      </div>
                                        <div class="form-group">
                                        <label class="form-control-label" for="input-username">비밀번호</label>
                                        <input name="user_password" type="password" id="input-username" class="form-control form-control-alternative" placeholder="******">
                                      </div>

                                    </div>
                                  </div>
                                </div>
                              <p>
                                  확인 버튼을 클릭하여 회원을 생성합니다.
                              </p>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-link  ml-auto" data-dismiss="modal">취소</button>
                              <button type="submit" class="btn btn-primary">확인</button>
                            </div>
                        </form>
                      </div>
                    </div>
                  </div>


              </div>
            </div>
            <div class="table-responsive" style="max-height: 400px; overflow-y: auto;">
              <!-- Projects table -->
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">id</th>
                    <th scope="col">createDate</th>
                    <th scope="col">email</th>
                    <th scope="col">group</th>
                    <th scope="col">extra</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody style="max-height: 400px; overflow-y: auto;">
                {% for user in users.items %}
                  <tr>
                    <th scope="row">
                      {{ user.id }}
                    </th>
                    <td>
                      {{ user.creationDate|to_date }}
                    </td>
                    <td>
                      {{ user.email }}
                    </td>
                    <td>
                      {{ user.groups }}
                    </td>
                      <td>
                      {{ user.extra }}
                    </td>
                    <td>
                        <form role="form" method="post">{% csrf_token %}
                              <input name="cmd" value="delete_user" hidden>
                              <input name="user_id" value="{{ user.id }}" hidden>
                            <button type="submit" class="btn btn-sm btn-danger">제거</button>
                          </form>
                    </td>
                  </tr>
                {% endfor %}

                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>


    <div class="row mt-4">
          <div class="col-xl-12">
          <div class="card shadow">
            <div class="card-header border-0">
              <div class="row align-items-center">
                <div class="col">
                  <h3 class="mb-0">
                      접속 중인 세션
                  </h3>
                </div>

                  <div class="col text-right">
                  <div class="dropdown">
                                <button class="btn btn-sm btn-icon-only text-light" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-ellipsis-v"></i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" onclick="delete_checked_sessions();"><i class="fas fa-trash"></i>선택 삭제</a>
                                </div>
                            </div>
                </div>
              </div>
            </div>
            <div class="table-responsive" style="max-height: 400px; overflow-y: auto;">
              <!-- Projects table -->
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">id</th>
                    <th scope="col">createDate</th>
                    <th scope="col">userId</th>
                    <th scope="col">sessionType</th>
                    <th scope="col">
                        <div class="custom-control custom-checkbox mt--4">
                            <input class="custom-control-input" type="checkbox" name="checkbox-session" id="check-all">
                            <label class="custom-control-label" for="check-all"></label>
                        </div>
                    </th>
                  </tr>
                </thead>
                <tbody>
                {% for session in sessions.items %}
                  <tr>
                    <th scope="row">
                      {{ session.id }}
                    </th>
                    <td>
                      {{ session.creationDate|to_date }}
                    </td>
                    <td>
                      {{ session.userId }}
                    </td>
                    <td>
                      {{ session.sessionType }}
                    </td>
                    <td>
                        <div class="custom-control custom-checkbox mt--4">
                            <input class="custom-control-input" type="checkbox" name="checkbox-session" id="{{ session.id }}">
                            <label class="custom-control-label" for="{{ session.id }}"></label>
                        </div>
                    </td>
                  </tr>
                {% endfor %}

                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>


      <!-- Footer -->
      <footer class="footer">
        <div class="row align-items-center justify-content-xl-between">
          <div class="col-xl-6">
            <div class="copyright text-center text-xl-left text-muted">
              &copy; 2018 <a href="https://aws-interface.com" class="font-weight-bold ml-1" target="_blank">AWS Interface</a>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </div>

  <script>
  function set_email_login(){
      var email_default_group = $("#email_default_group").val();
      var email_enabled = $("#email_enabled").is(':checked');
      $.post("", {
          cmd: "set_email_login",
          default_group_name: email_default_group,
          enabled: email_enabled,
      }, function (data) {

      });
  }
  function set_guest_login(){
      var guest_default_group = $("#guest_default_group").val();
      var guest_enabled = $("#guest_enabled").is(':checked');

      $.post("", {
          cmd: "set_guest_login",
          default_group_name: guest_default_group,
          enabled: guest_enabled,
      }, function (data) {

      });
  }
  function delete_sessions(session_ids){
      $.LoadingOverlay('show', {
          text:'Deleting sessions...'
      });
      $.post("", {
          cmd: "delete_sessions",
          'session_ids[]': session_ids,
      }, function (data) {
          $.LoadingOverlay('hide');
          window.location.reload();
      });
  }
  function delete_checked_sessions(){
      var session_ids = [];
      var checkboxs = $("input[name='checkbox-session']");
      for (var i = 0; i < checkboxs.length; i++){
          if (checkboxs[i].checked){
              session_ids.push(checkboxs[i].id);
          }
      }
      delete_sessions(session_ids);
  }

  window.onload = function(){
    $("#email_default_group").change(function () {
        set_email_login()
    });
    $("#email_enabled").change(function () {
        set_email_login()
    });
    $("#guest_default_group").change(function () {
        set_guest_login()
    });
    $("#guest_enabled").change(function () {
        set_guest_login()
    });

    $("#check-all").click(function () {
        $("input[name='checkbox-session']").prop('checked', this.checked);
    });
  }
  </script>

{% endblock %}