{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta name="description" content="Quickly create a powerful backend">
    <meta name="author" content="Max kim">
    <meta property="og:image" content="{%  static 'assets/img/theme/laptop-meta-en.jpg' %}"/>

    <title>AWS Interface</title>
    <!-- Favicon -->
    <link href="{% static 'assets/img/brand/favicon.png' %}" rel="icon" type="image/png">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <!-- Icons -->
    <link href="{%  static 'assets/vendor/nucleo/css/nucleo.css' %}" rel="stylesheet">
    <link href="{%  static 'assets/vendor/@fortawesome/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
    <!-- Argon CSS -->
    <link type="text/css" href="{% static 'assets/css/argon.css' %}" rel="stylesheet">
    <!-- Notify CSS -->
    <link href="{% static 'assets/css/notify-metro.css' %}" rel="stylesheet" />

    <link rel="stylesheet" href="{% static 'editormd/css/editormd.css' %}" />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-134607667-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-134607667-1');
    </script>


</head>

<body>

<!-- Sidenav -->
<nav class="navbar navbar-vertical fixed-left navbar-expand-md navbar-light bg-white" id="sidenav-main">
    <div class="container-fluid">
        <!-- Toggler -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidenav-collapse-main" aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Brand -->
        <a class="navbar-brand pt-0" href="{%  url 'apps' %}">
            <img src="{%  static 'assets/img/brand/blue-beta.png' %}" class="navbar-brand-img" alt="...">
        </a>
        <!-- User -->
        <ul class="nav align-items-center d-md-none">
            <li class="nav-item dropdown">
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <div class="media align-items-center">
                        <i class="ni ni-circle-08"></i>
                    </div>
                </a>
                <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right">

                    <a href="{% url 'apps'%}" class="dropdown-item">
                        <i class="ni ni-app"></i>
                        <span>{{ _("Backends") }}</span>
                    </a>
                    <a href="{%  url 'accesskey' %}" class="dropdown-item">
                        <i class="ni ni-settings"></i>
                        <span class="nav-link-inner--text">{{ _("Certification") }}</span>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="#!" class="dropdown-item">
                        <i class="ni ni-user-run"></i>
                        <span>{{ _("Logout") }}</span>
                    </a>
                </div>
            </li>
        </ul>
        <!-- Collapse -->
        <div class="collapse navbar-collapse" id="sidenav-collapse-main">
            <!-- Collapse header -->
            <div class="navbar-collapse-header d-md-none">
                <div class="row">
                    <div class="col-6 collapse-brand">
                        <a href="{%  url 'overview' app_id %}">
                            <img src="{%  static 'assets/img/brand/blue.png' %}">
                        </a>
                    </div>
                    <div class="col-6 collapse-close">
                        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#sidenav-collapse-main" aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle sidenav">
                            <span></span>
                            <span></span>
                        </button>
                    </div>
                </div>
            </div>

            <!-- Navigation -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a id="link-overview" class="nav-link" href="{%  url 'overview' app_id %}">
                        <i class="ni ni-tv-2 text-primary"></i> Overview
                    </a>
                </li>

                <li class="nav-item">
                    <a id="link-guide" class="nav-link" href="{%  url 'guide' app_id %}">
                        <i class="ni ni-collection text-green"></i> Guide
                    </a>
                </li>

                <li class="nav-item">
                    <a id="link-marketplace" class="nav-link" href="{%  url 'marketplace' app_id %}">
                        <i class="ni ni-shop text-yellow"></i> Marketplace
                    </a>
                </li>

            </ul>

            <!-- Divider -->
            <hr class="my-3">
            <!-- Heading -->
            <h6 class="navbar-heading text-muted">{{ _("Development") }}</h6>

            <ul class="navbar-nav">
{#                Billing will show bill in aws-i (Now is AWS)#}
{#                <li class="nav-item">#}
{#                    <a id="link-bill" class="nav-link" href="{%  url 'bill' app_id %}">#}
{#                        <i class="ni ni-money-coins text-yellow"></i>Bill#}
{#                    </a>#}
{#                </li>#}
                <li class="nav-item">
                    <a id="link-auth" class="nav-link" href="{%  url 'auth' app_id %}">
                        <i class="ni ni-single-02 text-blue"></i> Auth
                    </a>
                </li>
                <li class="nav-item">
                    <a id="link-database" class="nav-link" href="{%  url 'database' app_id %}">
                        <i class="ni ni-bullet-list-67 text-orange"></i> Database
                    </a>
                </li>

                <li class="nav-item">
                    <a id="link-database" class="nav-link" href="{%  url 'fast_database' app_id %}">
                        <i class="ni ni-spaceship text-purple"></i> FastDatabase
                    </a>
                </li>

                <li class="nav-item">
                    <a id="link-storage" class="nav-link" href="{%  url 'storage' app_id %}">
                        <i class="ni ni-archive-2 text-red"></i> Storage
                    </a>
                </li>

                <li class="nav-item">
                    <a id="link-logic" class="nav-link" href="{%  url 'logic' app_id %}">
                        <i class="ni ni-cloud-upload-96 text-green"></i> Logic
                    </a>
                </li>

                <li class="nav-item">
                    <a id="link-log" class="nav-link" href="{%  url 'log' app_id %}">
                        <i class="ni ni-books text-default"></i> Log
                    </a>
                </li>

                 <li class="nav-item">
                    <a id="link-notification" class="nav-link" href="{%  url 'notification' app_id %}">
                        <i class="ni ni-notification-70 text-indigo"></i> Notification
                    </a>
                </li>

                 <li class="nav-item">
                    <a id="link-schedule" class="nav-link" href="{%  url 'schedule' app_id %}">
                        <i class="ni ni-calendar-grid-58 text-red"></i> Schedule
                    </a>
                </li>

            </ul>
{#            Beta test application do not support analytics#}
            <!-- Divider -->
            <hr class="my-3">
            <!-- Heading -->
            <h6 class="navbar-heading text-muted">{{ _("Analysis") }}</h6>
            <!-- Navigation -->
            <ul class="navbar-nav mb-md-3">
                <li class="nav-item">
                    <a id="link-summary" class="nav-link">
                        <i class="ni ni-spaceship"></i> Summary
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- Main content -->
{% block content %}
{% endblock %}

<!-- Argon Scripts -->
<!-- Core -->
<script src="{%  static 'assets/vendor/jquery/dist/jquery.min.js' %}"></script>
<script src="{%  static 'assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
<!-- Optional JS -->
<script src="{%  static 'assets/vendor/chart.js/dist/Chart.min.js' %}"></script>
<script src="{%  static 'assets/vendor/chart.js/dist/Chart.extension.js' %}"></script>
<!-- Argon JS -->
<script src="{%  static 'assets/js/argon.js' %}"></script>
<!-- Notify JS -->
<script src="{% static 'assets/js/notify.js' %}"></script>
<script src="{% static 'assets/js/notify-metro.js' %}"></script>
<!-- Loading Overlay JS -->
<script src="{% static 'assets/js/loadingoverlay.js' %}"></script>
<!-- Ace.c9 -->
<script src="{% static 'ace/src-noconflict/ace.js' %}" type="text/javascript" charset="utf-8"></script>

<script>

</script>

<script>
    // CSRF
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $(document).ready(function() {
        var csrftoken = getCookie('csrftoken');
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
    });
</script>

<script>
    $("#link-summary").click(function () {
        alert("{{ _("It will be supported soon") }}");
    });
</script>

<script type="text/javascript">
    $(function(){
        {% if alert %}
            alert('{{alert}}');
        {% endif %}
    });
</script>

<script>
    var id = "link-" + "{{ request.path }}".split('/')[2];
    $("#" + id).addClass("active");
</script>

<script>
    Array.prototype.remove = function() {
        var what, a = arguments, L = a.length, ax;
        while (L && this.length) {
            what = a[--L];
            while ((ax = this.indexOf(what)) !== -1) {
                this.splice(ax, 1);
            }
        }
        return this;
    };
</script>


</body>
</html>