{% extends 'dashboard/app/base.html' %}
{% load staticfiles %}
{% block content %}

<div class="main-content">
    <!-- Top navbar -->
    {% include 'dashboard/app/top-navbar.html' %}
    <!-- Header -->
    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
      <div class="container-fluid">
        <div class="header-body">
          <!-- Card stats -->
            <div class="alert alert-primary" role="alert">
                <strong>AWS DynamoDB, AWS Lambda, AWS APIGateway</strong>  를 사용합니다.
            </div>
            <div class="alert alert-default" role="alert">
                <strong>Auth </strong> 에 의존합니다.
            </div>

            <div class="alert alert-neutral" role="alert">
                <div class="row">
                    <div class="col">
                        <strong>{{ rest_api_url }}</strong> 의 POST Method 를 호출 할 수 있습니다.
                    </div>
                    <div class="col-auto">
                        <a target="_blank" href="{% url 'database' app_id %}?cmd=download_sdk" class="btn btn-sm btn-info">SDK 다운로드</a>
                    </div>
                </div>
            </div>

        </div>
      </div>
    </div>
    <!-- Page content -->
    <div class="container-fluid mt--8">
      <div class="row mt-4">
        <div class="col-xl-12 mb-5 mb-xl-0">
          <div class="card shadow">

              <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 col-xl-3" style="padding-right: 0;">
              <!-- Projects table -->
              <table class="table table-sm table-hover table-borderless">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">
                        <button scope="row" data-toggle="modal" data-target="#modal-add-partition" class="btn btn-sm">
                            파티션 추가 +
                        </button>
                        <div class="modal fade" id="modal-add-partition" tabindex="-1" role="dialog" aria-labelledby="modal-add-partition" aria-hidden="true">
                            <div class="modal-dialog modal- modal-dialog-centered modal-" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h4 class="modal-title" id="modal-title-default">파티션 추가</h4>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                  </button>
                                </div>
                                    <div class="modal-body">
                                        <div class="pl-lg-12">
                                          <div class="row">
                                            <div class="col-lg-12">
                                              <div class="form-group">
                                                <label class="form-control-label" for="partition-name">이름</label>
                                                <input id="partition-name" type="text" class="form-control form-control-alternative" placeholder="파티션 이름">
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      <p>
                                          확인 버튼을 클릭하여 파티션을 생성합니다. </br>
                                          파티션은 DB의 테이블과 유사한 개념입니다.
                                      </p>
                                    </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-link  ml-auto" data-dismiss="modal">취소</button>
                                      <button id="add-partition-btn" class="btn btn-primary">확인</button>
                                    </div>
                              </div>
                            </div>
                        </div>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  {% for partition in partitions %}
                  <tr>
                    <th id="{{ partition }}" name="partition" scope="row" onclick="set_partition('{{ partition }}');">
                      {{ partition }}
                        <button onclick="delete_partition('{{ partition }}');" style='font-size:7pt; margin-left:16px;'>삭제</button>
                    </th>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>

              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-xl-4" style="padding: 0;">
              <!-- Projects table -->
              <table id="item-table" class="table table-sm table-hover table-borderless">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">
                        <button id="open-add-item-modal" scope="row" class="btn btn-sm">
                            아이템 추가 +
                        </button>


                        <div class="modal fade" id="modal-add-item" tabindex="-1" role="dialog" aria-labelledby="modal-add-item" aria-hidden="true">
                            <div class="modal-dialog modal- modal-dialog-centered modal-" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h4 class="modal-title" id="modal-title-default">아이템 추가</h4>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                  </button>
                                </div>
                                    <div class="modal-body">
                                        <div class="pl-lg-12">
                                          <div class="row">
                                            <div class="col-lg-12">
                                              <div class="form-group">
                                                <label class="form-control-label">아이디</label>
                                                <input type="text" class="form-control form-control-alternative" placeholder="자동생성" disabled>
                                              </div>
                                              <div class="form-group">
                                                <label class="form-control-label" for="field-value">읽기 권한</label>
                                                <select id="item-read-permission" class="form-control">
                                                    {% for group in user_groups %}
                                                        <option value="{{ group.name }}">{{ group.name }}</option>
                                                    {% endfor %}
                                                </select>
                                              </div>

                                              <div class="form-group">
                                                <label class="form-control-label" for="field-value">쓰기/지우기 권한</label>
                                                <select id="item-write-permission" class="form-control">
                                                    {% for group in user_groups %}
                                                        <option value="{{ group.name }}">{{ group.name }}</option>
                                                    {% endfor %}
                                                </select>
                                              </div>

                                            </div>
                                          </div>
                                        </div>
                                      <p>
                                          확인 버튼을 클릭하여 아이템을 생성합니다. </br>
                                      </p>
                                    </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-link  ml-auto" data-dismiss="modal">취소</button>
                                      <button id="add-item-btn" class="btn btn-primary">확인</button>
                                    </div>
                              </div>
                            </div>
                        </div>
                    </th>
                  </tr>
                </thead>

                <tbody>


                </tbody>
              </table>
            </div>

             <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 col-xl-5" style="padding-left: 0;">
              <!-- Projects table -->
              <table id="field-table" class="table table-sm table-hover table-borderless">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">
                        <button id="open-add-field-modal" scope="row" class="btn btn-sm">
                            필드 추가 +
                        </button>
                        <div class="modal fade" id="modal-add-field" tabindex="-1" role="dialog" aria-labelledby="modal-add-field" aria-hidden="true">
                            <div class="modal-dialog modal- modal-dialog-centered modal-" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h4 class="modal-title" id="modal-title-default">필드 추가</h4>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                  </button>
                                </div>
                                    <input name="cmd" value="put_group" hidden>
                                    <div class="modal-body">
                                        <div class="pl-lg-12">
                                          <div class="row">
                                            <div class="col-lg-12">
                                              <div class="form-group">
                                                <label class="form-control-label" for="field-name">이름</label>
                                                <input id="field-name" type="text" class="form-control form-control-alternative" placeholder="필드 이름">
                                              </div>
                                                <div class="form-group">
                                                <label class="form-control-label" for="field-type">타입</label>
                                                <select id="field-type" class="form-control">
                                                    <option value="S">문자열</option>
                                                    <option value="N">숫자</option>
                                                </select>
                                              </div>
                                              <div class="form-group">
                                                <label class="form-control-label" for="field-value">값</label>
                                                <input id="field-value" type="text" class="form-control form-control-alternative" placeholder="필드 값">
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      <p>
                                          확인 버튼을 클릭하여 필드를 생성합니다. </br>
                                          필드는 컬럼과 같은 개념이며, 아이템에 종속됩니다.
                                      </p>
                                    </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-link  ml-auto" data-dismiss="modal">취소</button>
                                      <button id="add-field-btn" class="btn btn-primary">확인</button>
                                    </div>
                              </div>
                            </div>
                          </div>
                    </th>
                  </tr>
                </thead>
                <tbody>

                </tbody>
              </table>
            </div>
          </div>

          </div>
        </div>
      </div>
      <!-- Footer -->
      <footer class="footer">
        <div class="row align-items-center justify-content-xl-between">
          <div class="col-xl-6">
            <div style="height: 50px;"></div>
            <div class="copyright text-center text-xl-left text-muted">
              &copy; 2018 <a href="https://aws-interface.com" class="font-weight-bold ml-1" target="_blank">AWS Interface</a>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </div>

  <script>
  var partition = null;
  var item_id = null;
  item_ids = [];
  item_fields = [];
  function set_partition(p) {
      $("#field-table>tbody").empty();
      item_ids = [];
      partition = p;
      $("th[name='partition']").css({backgroundColor: 'white'});
      $("#" + partition).css({backgroundColor: '#BBB'});
      $.post("", {
          cmd: "get_items",
          partition: partition,
      }, function (data) {
          var items = data['items'];
          var end_key = data['end_key'];
          set_items(items);
      });
  }
  function set_items(items) {
      $("#item-table>tbody").empty();
      for (var i = 0; i < items.length; i++){
          if (item_ids.includes(items[i]["id"]) == false) {
              item_ids.push(items[i]["id"]);
          }
      }
      for (var i = 0; i < item_ids.length; i++){
          var iid = item_ids[i];
          var row = "<tr><th style='vertical-align:middle;' onclick=\"set_item('" + iid + "');\" name=\"item\" id=\"" + iid + "\" scope=\"row\">" + iid +
              "<button onclick='delete_item(\"" + iid + "\");' class='' style='font-size:7pt; margin-left:16px;'>삭제</button>" +
              "</th></tr>";
          $("#item-table").append(row);
      }
  }
  function set_item(_item_id) {
      item_fields = [];
      item_id = _item_id;
      $("th[name='item']").css({backgroundColor: 'white'});
      $("#" + _item_id).css({backgroundColor: '#BBB'});
      $.post("", {
          cmd: "get_item",
          item_id: item_id,
      }, function (data) {
          var item = data['item'];
          set_fields(item);
      });
  }
  function set_fields(_item) {
      $("#field-table>tbody").empty();
      var item = _item;
      Object.entries(item).forEach(([key, value]) => {
          var value_type = '';
          if (typeof value == 'string'){
              value_type = 'S';
              value = String(value);
          }else if (typeof value == 'number') {
              value_type = 'N';
              value = parseFloat(value);
          }else if (typeof value == 'object'){
              value_type = 'L';
              value = JSON.stringify(value);
          }
          var row = "<tr><th onclick=\"set_field('" + key + "', '" + value + "','" + value_type + "');\" name=\"field\" id=\"" +
              key + "\" scope=\"row\">" + key + " : " + value +
              "<button class='' style='font-size:7pt; margin-left:16px;'>삭제</button>" +
              "</th></tr>";
          $("#field-table").append(row);
      });
  }

  function set_field(key, value, type) {
      $("#field-name").val(key);
      $("#field-value").val(value);
      $("#field-type").val(type);
      $("#modal-add-field").modal('show');
  }

  function add_partition(){
      var partition_name = $("#partition-name").val();
      $.post("", {
          cmd: "add_partition",
          partition_name: partition_name,
      }, function (data) {
          location.reload();
      });
      $("#partition-name").val(null);
      $("#modal-add-partition").modal('hide');
  }
  function add_item(){
      if (partition == null || partition.length == 0){
          alert("파티션을 지정해주세요");
          return;
      }
      var read_permission = $("#item-read-permission").val();
      var write_permission = $("#item-write-permission").val();
      $.post("", {
          cmd: "add_item",
          partition: partition,
          read_permission: read_permission,
          write_permission: write_permission,
      }, function (data) {
          set_partition(partition);
      });
      $("#modal-add-item").modal('hide');
  }
  function add_field(){
      if (partition == null || item_id == null || partition.length == 0 || item_id.length == 0){
          alert("파티션과 아이템을 지정해주세요");
          return;
      }
      var field_name = $("#field-name").val();
      var field_value = $("#field-value").val();
      var field_type = $("#field-type").val();

      $.post("", {
          cmd: "add_field",
          item_id: item_id,
          field_name: field_name,
          field_value: field_value,
          field_type: field_type,
      }, function (data) {
          set_item(item_id);
      });
      $("#modal-add-field").modal('hide');
  }
  function delete_partition(partition_name){
    $.post("", {
          cmd: "delete_partition",
          partition_name: partition_name,
      }, function (data) {
          location.reload();
      });
  }
  function delete_item(item_id){
      $.post("", {
          cmd: "delete_item",
          item_id: item_id,
      }, function (data) {
          set_partition(partition);
      });
  }
  window.onload = function(){
    $("#add-partition-btn").click(function () {
        add_partition();
    });
    $("#add-item-btn").click(function () {
        add_item();
    });
    $("#add-field-btn").click(function () {
        add_field();
    });
    $("#open-add-item-modal").click(function () {
       if (partition == null || partition.length == 0){
          alert("파티션을 지정해주세요");
          return;
       }
       $("#modal-add-item").modal('show');
    });
    $("#open-add-field-modal").click(function () {
        $("#field-name").val(null);
        $("#field-value").val(null);
        $("#field-type").val('S');
        $("#modal-add-field").modal('show');
    });
  }
  </script>

{% endblock %}