{% extends 'dashboard/app/base.html' %}
{% load staticfiles %}
{% block content %}

<div class="main-content">
    <!-- Top navbar -->
    {% include 'dashboard/app/top-navbar.html' %}
    <!-- Header -->
    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
      <div class="container-fluid">
        <div class="header-body">
          <!-- Card stats -->
            <div class="alert alert-primary" role="alert">
                <strong>AWS DynamoDB, AWS Lambda, AWS APIGateway</strong>  를 사용합니다.
            </div>
            <div class="alert alert-default" role="alert">
                <strong>Auth </strong> 에 의존합니다.
            </div>
        </div>
      </div>
    </div>
    <!-- Page content -->
    <div class="container-fluid mt--8">
      <div class="row mt-4">
        <div class="col-xl-12 mb-5 mb-xl-0">
          <div class="card shadow">

              <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 col-xl-3" style="padding-right: 0;">
              <!-- Projects table -->
              <table class="table table-sm table-hover table-borderless">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">테이블</th>
                  </tr>
                </thead>
                <tbody>

                  <tr>
                    <th scope="row" class="text-primary">
                      테이블 추가 +
                    </th>
                  </tr>
                  <tr>
                    <th scope="row">
                      테이블트
                    </th>
                  </tr>
                <tr>
                    <th scope="row">
                      테이블스리
                    </th>
                  </tr>
                </tbody>
              </table>
            </div>

              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-xl-4" style="padding: 0;">
              <!-- Projects table -->
              <table class="table table-sm table-hover table-borderless">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">아이템</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row" class="text-primary">
                      아이템 추가 +
                    </th>
                  </tr>
                  <tr>
                    <th scope="row">
                      아이템1
                    </th>
                  </tr>
                <tr>
                    <th scope="row">
                      아아템2
                    </th>
                  </tr>
                </tbody>
              </table>
            </div>

             <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 col-xl-5" style="padding-left: 0;">
              <!-- Projects table -->
              <table class="table table-sm table-hover table-borderless">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">필드</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row" class="text-primary">
                      필드 추가 +
                    </th>
                  </tr>
                  <tr>
                    <th scope="row">
                      id: dsfw4-sds34
                    </th>
                  </tr>
                <tr>
                    <th scope="row">
                      테이블스리
                    </th>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          </div>
        </div>
      </div>
      <!-- Footer -->
      <footer class="footer">
        <div class="row align-items-center justify-content-xl-between">
          <div class="col-xl-6">
            <div class="copyright text-center text-xl-left text-muted">
              &copy; 2018 <a href="https://aws-interface.com" class="font-weight-bold ml-1" target="_blank">AWS Interface</a>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </div>

{% endblock %}