{% extends 'dashboard/app/base.html' %}
{% load staticfiles %}
{% block content %}

    <div class="main-content">
        <!-- Top navbar -->
        {% include 'dashboard/app/top-navbar.html' %}
        <!-- Header -->
        <input id="view-tag" value="guide" hidden>
        <div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 600px; background-image: url({% static 'assets/img/theme/guide.jpg' %}); background-size: cover; background-position: center top;">
            <!-- Mask -->
            <span class="mask bg-gradient-default opacity-8"></span>
            <!-- Header container -->
            <div class="container-fluid d-flex align-items-center">
                <div class="row">
                    <div class="col-lg-9 col-md-9">
                        <h1 class="display-2 text-white">{{ _('Guide') }}</h1>
                        <p class="text-white mt-0 mb-5">{{ _('Learn how to quickly build powerful backend services with the help of a guide document.') }}</p>
                        <a href="https://github.com/hubaimaster/aws-interface/issues" target="_blank" class="btn btn-danger">{{ _('Report issues') }}</a>
                        <a href="https://aws-interface.com" target="_blank" class="btn btn-primary">{{ _('Service Introduction') }}</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Page content -->
        <div class="container-fluid mt--8">
            <div class="row mt-3">
                <div class="col-xl-12 mb-5 mb-xl-0">
                    <div class="card card-stats shadow">
                        <a href="https://docs.aws-interface.com/" class="card-body btn text-left">
                            <div class="row mb-4">
                                <div class="col">
                                    <h4>{{ _('Learn how to use the SDK written in multiple languages') }}</h4>
                                    <h1 class="mb-0">{{ _('Learn how to use the SDK') }}</h1>
                                </div>
                                <div class="col-auto">

                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <!-- Footer -->
            <footer class="footer">
                <div class="row align-items-center justify-content-xl-between">
                    <div class="col-xl-6">
                        <div class="copyright text-center text-xl-left text-muted">
                            &copy; 2018 <a href="https://aws-interface.com" class="font-weight-bold ml-1" target="_blank">AWS Interface</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>

{% endblock %}