{% extends 'dashboard/app/base.html' %}
{% load staticfiles %}
{% block content %}

    {% load timetags %}

    <div class="main-content">
        <!-- Top navbar -->
        {% include 'dashboard/app/top-navbar.html' %}
        <!-- Header -->
        <input id="view-tag" value="logic" hidden>
        <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
            <div class="container-fluid">
                <div class="header-body">
                    <div class="alert alert-primary" role="alert">
                        <strong>AWS Lambda</strong> {{ _("is used") }}
                    </div>
                    <div class="alert alert-default" role="alert">
                        <strong>Auth </strong> {{ _("dependency") }}
                    </div>
                    <!-- Card stats -->

                </div>
            </div>
        </div>
        <!-- Page content -->
        <div class="container-fluid mt--7">
            <div class="row">
                <div class="col-xl-12">
                    <div class="card shadow">
                        <div class="card-header border-0">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h3 class="mb-0">{{ _("Tests") }}</h3>
                                </div>

                                <div class="col text-right">
                                    <a data-toggle="modal" data-target="#modal-create-function-test" class="btn btn-sm btn-primary">
                                        <span class="btn-inner--text" style="color: white;">{{ _("Create test") }}</span>
                                    </a>
                                </div>

                                <div class="modal fade" id="modal-test-result" tabindex="-1" role="dialog" aria-labelledby="modal-test-result" aria-hidden="true">
                                    <div class="modal-dialog modal- modal-dialog-centered modal-" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title" id="modal-title-default">{{ _("Testing result") }}</h4>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">×</span>
                                                </button>
                                            </div>

                                            <div class="modal-body">
                                                <div class="pl-lg-12">
                                                    <div class="row">
                                                        <div class="col-lg-12">

                                                            <div class="form-group">
                                                                <label class="form-control-label" for="file-bin">{{ _("Execution result") }}</label>
                                                                <textarea id="result-test-input" name="test_input" rows="10" name="handler" type="text" class="form-control form-control-alternative" disabled></textarea>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button class="btn btn-primary" data-dismiss="modal">{{ _("Confirm") }}</button>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <div class="modal fade" id="modal-create-function-test" tabindex="-1" role="dialog" aria-labelledby="modal-create-function-test" aria-hidden="true">
                                    <div class="modal-dialog modal- modal-dialog-centered modal-" role="document">
                                        <div class="modal-content">
                                            <form method="POST">{% csrf_token %}
                                                <input name="cmd" value="create_function_test" hidden>
                                                <div class="modal-header">
                                                    <h4 class="modal-title" id="modal-title-default">{{ _("Create function test") }}</h4>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">×</span>
                                                    </button>
                                                </div>

                                                <div class="modal-body modal-lg">
                                                    <div class="pl-lg-12">
                                                        <div class="row">
                                                            <div class="col-lg-12">

                                                                <div class="form-group">
                                                                    <label class="form-control-label" for="folder-name">{{ _("Test name") }}</label>
                                                                    <input name="test_name" type="text" class="form-control form-control-alternative" placeholder="{{ _("Test name") }}">
                                                                </div>

                                                                <div class="form-group">
                                                                    <label class="form-control-label" for="function-description">{{ _("Function name") }}</label>
                                                                    <select name="function_name" class="form-control">
                                                                        {% for function in functions %}
                                                                            <option value="{{ function.function_name }}">{{ function.function_name }}</option>
                                                                        {% endfor %}
                                                                    </select>
                                                                </div>

                                                                <div class="form-group">
                                                                    <label class="form-control-label" for="file-bin">{{ _("Test payload") }} (JSON)</label>
                                                                    <textarea id="test_input" name="test_input" rows="5" name="handler" type="text" id="test-input" class="form-control form-control-alternative" placeholder='{"field": "value"}'></textarea>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <p>
                                                        {{ _("Click the confirm button to create the test") }}
                                                    </p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-link  ml-auto" data-dismiss="modal">{{ _("Cancel") }}</button>
                                                    <button type="submit" id="create-function-test" class="btn btn-primary" disabled>{{ _("Confirm") }}</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                        <div>

                            <div class="table-responsive">
                                <!-- Projects table -->
                                <table class="table align-items-center table-flush">
                                    <thead class="thead-light">
                                    <tr>
                                        <th scope="col">test_name</th>
                                        <th scope="col">function_name</th>
                                        <th scope="col"></th>
                                        <th scope="col"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for function_test in function_tests %}
                                        <tr>
                                            <th scope="row">
                                                {{ function_test.test_name }}
                                            </th>
                                            <td>
                                                {{ function_test.function_name }}
                                            </td>
                                            <td>
                                                <button class="btn btn-sm btn-success" onclick="run_function('{{ function_test.function_name }}', '{{ function_test.test_input }}')">{{ _('Test') }}</button>
                                            </td>
                                            <td>
                                                <form method="post">{% csrf_token %}
                                                    <input name="cmd" value="delete_function_test" hidden>
                                                    <input name="test_name" value="{{ function_test.test_name }}" hidden>
                                                    <button class="btn btn-sm btn-danger" type="submit">{{ _('Remove') }}</button>
                                                </form>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>

            </div>


            <div class="row mt-5">
                <div class="col-xl-12">
                    <div class="card shadow">
                        <div class="card-header border-0">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h3 class="mb-0">{{ _("Functions") }}</h3>
                                </div>

                                <div class="col text-right">
                                    <a href="{% url 'marketplace' app_id %}" class="btn btn-sm btn-outline-warning">
                                        <span class="btn-inner--text">Marketplace</span>
                                    </a>
                                    <a data-toggle="modal" data-target="#modal-create-function" class="btn btn-sm btn-primary">
                                        <span class="btn-inner--text" style="color: white;">{{ _("Create function") }}</span>
                                    </a>
                                </div>

                                <div class="modal fade" id="modal-create-function" tabindex="-1" role="dialog" aria-labelledby="modal-create-function" aria-hidden="true">
                                    <div class="modal-dialog modal- modal-dialog-centered modal-" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title" id="modal-title-default">{{ _("Create function") }}</h4>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">×</span>
                                                </button>
                                            </div>

                                            <div class="modal-body">
                                                <div class="pl-lg-12">
                                                    <div class="row">
                                                        <div class="col-lg-12">

                                                            <div class="form-group">
                                                                <label class="form-control-label" for="function_name">* {{ _("Name") }}</label>
                                                                <input name="function_name" type="text" id="function-name" class="form-control form-control-alternative" placeholder="{{ _("Function name") }}">
                                                            </div>

                                                            <div class="form-group">
                                                                <label class="form-control-label" for="runtime">* {{ _("Runtime") }}</label>
                                                                <select name="runtime" id="function-runtime" class="form-control form-control-alternative">
                                                                    <option value="python3.6">python3.6</option>
                                                                </select>
                                                            </div>

                                                            <div class="form-group">
                                                                <label class="form-control-label" for="function-description">{{ _("Description") }}</label>
                                                                <input name="function-description" type="text" id="function-description" class="form-control form-control-alternative" placeholder="{{ _("Short description") }}">
                                                            </div>

                                                            <div class="form-group">
                                                                <label class="form-control-label" for="function-zipfile">{{ _("Source .zip file") }}</label>
                                                                <input name="zip_file" type="file" id="function-zipfile" class="form-control form-control-alternative btn">
                                                            </div>

                                                            <div class="form-group">
                                                                <label class="form-control-label" for="function-handler">{{ _("Handler") }} <i class="fa fa-question-circle" data-toggle="tooltip" data-placement="top" title="{{ _("Find the def method(payload, user) in the package and call it") }}"></i></label>
                                                                <input name="handler" type="text" id="function-handler" class="form-control form-control-alternative" placeholder="package.method">
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                                <p>
                                                    {{ _("The SDK can call logic_run_function ('function name') to get the results of the execution.") }}
                                                </p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-link  ml-auto" data-dismiss="modal">{{ _("Cancel") }}</button>
                                                <button id="create-function" class="btn btn-primary">{{ _("Confirm") }}</button>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <!-- Projects table -->
                            <table class="table align-items-center table-flush">
                                <thead class="thead-light">
                                <tr>
                                    <th scope="col">function_name</th>
                                    <th scope="col">runtime</th>
                                    <th scope="col">handler</th>
                                    <th scope="col">creation_date</th>
                                    <th scope="col"></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for function in functions %}
                                    <tr>
                                        <th scope="row">
                                            <a href="{% url 'logic_edit' app_id function.function_name %}">
                                                {{ function.function_name }}
                                            </a>
                                        </th>
                                        <td>
                                            {{ function.runtime }}
                                        </td>
                                        <td>
                                            {{ function.handler }}
                                        </td>
                                        <td>
                                            {{ function.creation_date|to_date }}
                                        </td>

                                        <td>
                                            <form method="post">{% csrf_token %}
                                                <input name="cmd" value="delete_function" hidden>
                                                <input name="function_name" value="{{ function.function_name }}" hidden>
                                                <button type="submit" class="btn btn-danger btn-sm">{{ _("Remove") }}</button>
                                            </form>
                                        </td>

                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>


            <div class="row mt-7">

            </div>
            <!-- Footer -->
            <footer class="footer">
                <div class="row align-items-center justify-content-xl-between">
                    <div class="col-xl-6">
                        <div class="copyright text-center text-xl-left text-muted">
                            &copy; 2018 <a href="https://aws-interface.com" class="font-weight-bold ml-1" target="_blank">AWS Interface</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <script>


        function create_function(function_name, description, handler, runtime, zip_file) {
            var formData = new FormData();
            formData.append('cmd', 'create_function');
            formData.append('function_name', function_name);
            formData.append('description', description);
            formData.append('handler', handler);
            formData.append('runtime', runtime);
            formData.append('zip_file', zip_file);
            $.LoadingOverlay('show', {
                text:'Creating function...',
            });
            $.ajax({
                url : '',
                type : 'POST',
                data : formData,
                processData: false,  // tell jQuery not to process the data
                contentType: false,  // tell jQuery not to set contentType
                success : function(data) {
                    window.location.reload();
                }
            });
        }

        function run_function(function_name, payload){
            $.LoadingOverlay('show', {
                text:'Running function...'
            });
            $.post("", {
                cmd: "run_function",
                function_name: function_name,
                payload: payload,
            }, function (data) {
                $("#result-test-input").val(JSON.stringify(data, null, 4));
                $.LoadingOverlay('hide');
                $("#modal-test-result").modal('show');
            });
        }

        window.onload = function () {
            $("#create-function").click(function () {
                const function_name = $("#function-name").val();
                const description = $("#function-description").val();
                const handler = $("#function-handler").val();
                const runtime = $("#function-runtime").val();
                const zip_file = $('#function-zipfile')[0].files[0];
                if (function_name == null || function_name.length == 0) {
                    alert("{{ _("Please enter the function name") }}");
                    return;
                }
                if (zip_file == null || zip_file.length == 0) {
                    alert("{{ _("Please specify the zipfile") }}");
                    return;
                }
                create_function(function_name, description, handler, runtime, zip_file);
                $("#modal-create-function").modal('hide');
            });

            $("#test_input").on('input', function () {
                function is_json(str) {
                    try {
                        JSON.parse(str);
                    } catch (e) {
                        return false;
                    }
                    return true;
                }

                const test_input = $("#test_input").val();
                if (is_json(test_input)) {
                    $("#create-function-test").prop("disabled", false);
                } else {
                    $("#create-function-test").prop("disabled", true);
                }
            });
        };
    </script>

{% endblock %}