{% extends 'dashboard/app/base.html' %}
{% load static %}
{% block content %}

    {% load timetags %}

    <div class="main-content">
        <!-- Top navbar -->
        {% include 'dashboard/app/top-navbar.html' %}
        <!-- Header -->
        <input id="view-tag" value="logic" hidden>
        <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
            <div class="container-fluid">
                <div class="header-body">
                    <div class="alert alert-primary" role="alert">
                        <strong>AWS Lambda, DynamoDB, S3</strong> {{ _('are used') }}
                    </div>
                    <div class="alert alert-default" role="alert">
                        <strong>Auth </strong> {{ _('dependency') }}
                    </div>
                    <!-- Card stats -->

                </div>
            </div>
        </div>
        <!-- Page content -->
        <div class="container-fluid mt--7">
            <div class="row">
                <div class="col-xl-12">
                    <div class="card shadow">
                        <div class="card-header border-1">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h4 class="mb-0">{{ _('Function information') }}</h4>
                                </div>

                                <div class="col text-right">
                                    <a data-toggle="modal" data-target="#modal-create-function-test" class="btn btn-sm btn-primary">
                                        <span class="btn-inner--text" style="color: white;" onclick="save_function_info();">{{ _('Save') }}</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label class="form-control-label" for="function-name">{{ _('Name') }}</label>
                                        <input id="function-name" name="function_name" type="text" class="form-control form-control-alternative"
                                               placeholder="{{ _('Function name') }}" value="{{ function.function_name }}" disabled>
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <div class="form-group">
                                        <label class="form-control-label" for="function-name">{{ _('Version') }}</label>
                                        <input id="function-name" name="function_name" type="text" class="form-control form-control-alternative"
                                               placeholder="{{ _('Function version') }}" value="{{ function.function_version }}" disabled>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="function-description">{{ _('Description') }}</label>
                                        <input id="function-description" name="function_description" type="text" id="input-function-description" class="form-control form-control-alternative"
                                               placeholder="{{ _('Function description') }}" value="{{ function.description }}">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-username">{{ _('Runtime') }}</label>
                                        <select name="function-runtime" id="function-runtime" class="form-control form-control-alternative">
                                            <option value="python3.6">python3.6</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="function-handler">{{ _('Handler') }}</label>
                                        <input id="function-handler" name="function_handler" type="text" class="form-control form-control-alternative"
                                               placeholder="{{ _('Function handler') }}" value="{{ function.handler }}">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label class="form-control-label" for="function-use-logging">{{ _('Use logging') }}</label>
                                        <input id="function-use-logging" name="use_logging" type="checkbox" class="form-control form-control-alternative"
                                               placeholder="{{ _('Use logging') }}" {% if function.use_logging %} checked {% endif %}>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label class="form-control-label" for="function-use-traceback">{{ _('Use traceback') }}</label>
                                        <input id="function-use-traceback" name="use_traceback" type="checkbox" class="form-control form-control-alternative"
                                               placeholder="{{ _('Use traceback') }}" {% if function.use_traceback %} checked {% endif %}>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label class="form-control-label" for="function-use-standalone">{{ _('Use standalone') }}</label>
                                        <input disabled id="function-use-standalone" name="use_standalone" type="checkbox" class="form-control form-control-alternative"
                                               placeholder="{{ _('Use standalone') }}" {% if function.use_standalone %} checked {% endif %}>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>

            <div class="row mt-4">

            </div>
            <!-- Footer -->
            <footer class="footer">
                <div class="row align-items-center justify-content-xl-between">
                    <div class="col-xl-6">
                        <div class="copyright text-center text-xl-left text-muted">
                            &copy; 2018 <a href="https://aws-interface.com" class="font-weight-bold ml-1" target="_blank">AWS Interface</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>

        <div class="container-fluid mt--7">
            <div class="row">
                <div class="col-xl-12">
                    <div class="card shadow">
                        <div class="card-header border-1">
                            <div class="row align-items-center">
                                <div class="col">
                                    <a class="btn btn-sm btn-white">
                                        <h4 id="function-file-path" class="mb-0" data-toggle="modal" data-target="#modal-show-files">{{ current_path }}</h4>
                                    </a>
                                </div>
                                <div class="text-right">
                                    <a class="btn btn-sm btn-default">
                                        <span class="btn-inner--text" style="color: white;" onclick="editor.undo();">Undo</span>
                                    </a>
                                    <a class="btn btn-sm btn-default">
                                        <span class="btn-inner--text" style="color: white;" onclick="editor.redo();">Redo</span>
                                    </a>
                                    <a class="btn btn-sm btn-primary" onclick="save_current_file();">
                                        <span class="btn-inner--text" style="color: white;">Save</span>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div id="code-editor" style="height: 500px;">
                            <!-- CODE EDITOR -->
                            <style type="text/css" media="screen">
                                #editor {
                                    margin: 0;
                                    margin-top: 73px;
                                    position: absolute;
                                    top: 0;
                                    bottom: 0;
                                    left: 0;
                                    right: 0;
                                }
                            </style>
                            <pre id="editor">{{ current_file.content }}</pre>

                            <script src="{% static 'ace/src-noconflict/ace.js' %}" type="text/javascript" charset="utf-8"></script>
                            <script>
                                const editor = ace.edit("editor");
                                editor.session.setMode("ace/mode/python");
                            </script>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="modal-show-files" tabindex="-1" role="dialog" aria-labelledby="modal-show-files" aria-hidden="true">
                <div class="modal-dialog modal- modal-dialog-centered modal-" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="modal-title-default">{{ _('Files') }}</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>

                        <div class="modal-body">
                            <div class="pl-lg-12">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <div class="table-responsive">
                                                <table id="table-file-paths" >
                                                    <tbody>

                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row mt-7">

            </div>
            <!-- Footer -->
            <footer class="footer">
                <div class="row align-items-center justify-content-xl-between">
                    <div class="col-xl-6">
                        <div class="copyright text-center text-xl-left text-muted">
                            &copy; 2018 <a href="https://aws-interface.com" class="font-weight-bold ml-1" target="_blank">AWS Interface</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <script>
        const function_name = "{{ function.function_name }}";
        const function_version = "{{ function.function_version }}";
        var current_file_path = "{{ current_path }}";
        function save_current_file() {
            const file_content = editor.getValue();
            $.post("", {
                'cmd': 'put_function_file',
                'function_name': function_name,
                'function_version': function_version,
                'file_path': current_file_path,
                'file_content': file_content,
            }, function (data) {
                alert('File saved');
            });
        }
        function save_function_info() {
            const function_name = $("#function-name").val();
            const function_runtime = $("#function-runtime").val();
            const function_handler = $("#function-handler").val();
            const function_description = $("#function-description").val();
            const function_use_logging = $("#function-use-logging").is(":checked");
            const function_use_traceback = $("#function-use-traceback").is(":checked");
            $.post("", {
                'cmd': 'update_function',
                'function_name': function_name,
                'function_version': function_version,
                'function_handler': function_handler,
                'runtime': function_runtime,
                'description': function_description,
                'use_logging': function_use_logging,
                'use_traceback': function_use_traceback
            }, function (data) {
                alert('Function saved');
            });
        }
        function load_function_file_paths() {
            $.post("", {
                'cmd': 'get_function_file_paths',
                'function_name': function_name,
                'function_version': function_version
            }, function (data) {
                $("#table-file-paths>tbody").empty();
                for (const file_path of data.file_paths){
                    const row = "<tr><td><button class=\"btn btn-white btn-sm shadow-none\" onclick=\"load_function_file('" + file_path + "')\">" + file_path + "</button></td></tr>";
                    $("#table-file-paths").append(row);
                }
            });
        }

        function load_function_file(file_path){
            $("#modal-show-files").modal('hide');
            $.post("", {
                'cmd': 'get_function_file',
                'function_name': function_name,
                'function_version': function_version,
                'file_path': file_path,
            }, function (data) {
                if ("item" in data){
                    $("#function-file-path").html(file_path);
                    current_file_path = file_path;
                    editor.setValue(data.item.content);
                    editor.getSession().setUndoManager(new ace.UndoManager())
                }
            });
        }
        window.onload = function () {
            $(document).ready(function () {
                load_function_file_paths();
            });
        };
    </script>


{% endblock %}