{% extends 'dashboard/app/base.html' %}
{% load staticfiles %}
{% block content %}

    {% load timetags %}

    <div class="main-content">
        <!-- Top navbar -->
        {% include 'dashboard/app/top-navbar.html' %}
        <!-- Header -->
        <input id="view-tag" value="logic" hidden>
        <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
            <div class="container-fluid">
                <div class="header-body">
                    <div class="alert alert-primary" role="alert">
                        <strong>AWS Lambda</strong>  를 사용합니다.
                    </div>
                    <div class="alert alert-default" role="alert">
                        <strong>Auth </strong> 에 의존합니다.
                    </div>
                    <div class="alert alert-info" role="alert">
                        <a class="text-white" href="{% url 'logic' app_id %}">Logic</a> -
                        <a class="text-white" href="{% url 'logic_edit' app_id function.function_name %}"><strong>{{ function.function_name }}</strong></a>
                    </div>
                    <!-- Card stats -->

                </div>
            </div>
        </div>
        <!-- Page content -->
        <div class="container-fluid mt--7">
            <div class="row">
                <div class="col-xl-12">
                    <div class="card shadow">
                        <div class="card-header border-0">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h3 class="mb-0">함수 코드 수정</h3>
                                </div>

                                <div class="col text-right">
                                    <a data-toggle="modal" data-target="#modal-create-function-test" class="btn btn-sm btn-primary">
                                        <span class="btn-inner--text" style="color: white;">저장</span>
                                    </a>
                                </div>

                            </div>
                        </div>
                        <div>
                            <textarea id="function_code_editor" style="height: 500px; width: 100%;" name="function_code_editor">
		                    </textarea>
                        </div>
                    </div>
                </div>

            </div>


            <div class="row mt-7">

            </div>
            <!-- Footer -->
            <footer class="footer">
                <div class="row align-items-center justify-content-xl-between">
                    <div class="col-xl-6">
                        <div class="copyright text-center text-xl-left text-muted">
                            &copy; 2018 <a href="https://aws-interface.com" class="font-weight-bold ml-1" target="_blank">AWS Interface</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <script type="text/javascript" src="{% static 'assets/edit_area/edit_area_full.js' %}"></script>
    <script>
        editAreaLoader.init({
            id: "function_code_editor"
            ,start_highlight: true
            ,allow_resize: "both"
            ,allow_toggle: false
            ,language: "en"
            ,syntax: "python"
            ,toolbar: "undo, redo, | , fullscreen , |, select_font, |, syntax_selection "
            ,syntax_selection_allow: "css,html,js,python,xml"
            ,is_multi_files: true
            ,EA_load_callback: "editAreaLoaded"
            ,show_line_colors: true
        });


        function open_file1(){
			var new_file= {id: "testfile", text: "$authors= array();\n$news= array();", syntax: 'python', title: 'beautiful title'};
			editAreaLoader.openFile('function_code_editor', new_file);
		}


        function editAreaLoaded(id) {
            open_file1();
        }


    </script>

    <script>

        function create_function(function_name, description, handler, runtime, zip_file) {
            var formData = new FormData();
            formData.append('cmd', 'create_function');
            formData.append('function_name', function_name);
            formData.append('description', description);
            formData.append('handler', handler);
            formData.append('runtime', runtime);
            formData.append('zip_file', zip_file);

            $.ajax({
                url : '',
                type : 'POST',
                data : formData,
                processData: false,  // tell jQuery not to process the data
                contentType: false,  // tell jQuery not to set contentType
                success : function(data) {
                    window.location.reload();
                }
            });
        }

        function run_function(function_name, payload){
            $.post("", {
                cmd: "run_function",
                function_name: function_name,
                payload: payload,
            }, function (data) {
                $("#result-test-input").val(JSON.stringify(data, null, 4));
                $("#modal-test-result").modal('show');
            });
        }

        window.onload = function () {

            $("#create-function").click(function () {
                const function_name = $("#function-name").val();
                const description = $("#function-description").val();
                const handler = $("#function-handler").val();
                const runtime = $("#function-runtime").val();
                const zip_file = $('#function-zipfile')[0].files[0];

                if (function_name == null || function_name.length == 0){
                    alert("이름을 지정해주세요");
                    return;
                }
                if (zip_file == null || zip_file.length == 0){
                    alert("파일을 지정해주세요");
                    return;
                }
                create_function(function_name, description, handler, runtime, zip_file);
                $("#modal-create-function").modal('hide');
            });

            $("#test_input").change(function () {
                function is_json(str) {
                    try {
                        JSON.parse(str);
                    } catch (e) {
                        return false;
                    }
                    return true;
                }
                const test_input = $("#test_input").val();
                if (is_json(test_input)){
                    $("#create-function-test").prop("disabled", false);
                }else{
                    $("#create-function-test").prop("disabled", true);
                }
            });

        };
    </script>

{% endblock %}