{% extends 'dashboard/app/base.html' %}
{% load staticfiles %}
{% block content %}

    {% load timetags %}

    <div class="main-content">
        <!-- Top navbar -->
        {% include 'dashboard/app/top-navbar.html' %}
        <!-- Header -->
        <input id="view-tag" value="logic" hidden>
        <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
            <div class="container-fluid">
                <div class="header-body">
                    <div class="alert alert-primary" role="alert">
                        <strong>AWS Lambda</strong>  를 사용합니다.
                    </div>
                    <div class="alert alert-default" role="alert">
                        <strong>Auth </strong> 에 의존합니다.
                    </div>
                    <!-- Card stats -->

                </div>
            </div>
        </div>
        <!-- Page content -->
        <div class="container-fluid mt--7">
            <div class="row">
                <div class="col-xl-12">
                    <div class="card shadow">
                        <div class="card-header border-1">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h4 class="mb-0">함수 정보</h4>
                                </div>

                                <div class="col text-right">
                                    <a data-toggle="modal" data-target="#modal-create-function-test" class="btn btn-sm btn-primary">
                                        <span class="btn-inner--text" style="color: white;">Save</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="function-name">이름</label>
                                        <input id="function-name" name="function_name" type="text" class="form-control form-control-alternative" placeholder="함수 이름">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="function-description">설명</label>
                                        <input id="function-description" name="function_description" type="text" id="input-function-description" class="form-control form-control-alternative" placeholder="함수 설명">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-username">런타임</label>
                                        <select name="function-runtime" id="function-runtime" class="form-control form-control-alternative">
                                            <option value="python3.6">Python 3.6</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="function-handler">핸들러</label>
                                        <input id="function-handler" name="function_handler" type="text" class="form-control form-control-alternative" placeholder="함수 핸들러">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row mt-4">

            </div>
            <!-- Footer -->
            <footer class="footer">
                <div class="row align-items-center justify-content-xl-between">
                    <div class="col-xl-6">
                        <div class="copyright text-center text-xl-left text-muted">
                            &copy; 2018 <a href="https://aws-interface.com" class="font-weight-bold ml-1" target="_blank">AWS Interface</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>

    <div class="container-fluid mt--7">
            <div class="row">
                <div class="col-xl-12">
                    <div class="card shadow">
                        <div class="card-header border-1">
                            <div class="row align-items-center">
                                <div class="col">
                                    <a class="btn btn-sm btn-white">
                                        <h4 id="function-file-path" class="mb-0">{{ current_path }}</h4>
                                    </a>
                                </div>

                                <div class="col text-right">
                                    <a class="btn btn-sm btn-default">
                                        <span class="btn-inner--text" style="color: white;">Undo</span>
                                    </a>
                                    <a class="btn btn-sm btn-default">
                                        <span class="btn-inner--text" style="color: white;">Redo</span>
                                    </a>
                                    <a class="btn btn-sm btn-primary" onclick="save_current_file();">
                                        <span class="btn-inner--text" style="color: white;">Save</span>
                                    </a>
                                </div>

                            </div>
                        </div>

                        <div id="code-editor" style="height: 500px;">
                            <!-- CODE EDITOR -->
                            <style type="text/css" media="screen">
                                #editor {
                                    margin: 0;
                                    margin-top: 73px;
                                    position: absolute;
                                    top: 0;
                                    bottom: 0;
                                    left: 0;
                                    right: 0;
                                }
                            </style>
                            <pre id="editor">{{ current_file.content }}</pre>

                            <script src="{% static 'ace/src-noconflict/ace.js' %}" type="text/javascript" charset="utf-8"></script>
                            <script>
                                const editor = ace.edit("editor");
                                editor.session.setMode("ace/mode/python");
                            </script>
                        </div>
                    </div>
                </div>

            </div>


            <div class="row mt-7">

            </div>
            <!-- Footer -->
            <footer class="footer">
                <div class="row align-items-center justify-content-xl-between">
                    <div class="col-xl-6">
                        <div class="copyright text-center text-xl-left text-muted">
                            &copy; 2018 <a href="https://aws-interface.com" class="font-weight-bold ml-1" target="_blank">AWS Interface</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    
    <script>
        const function_name = "{{ function.function_name }}";
        var current_file_path = "{{ current_path }}";
        function save_current_file() {
            const file_content = editor.getValue();
            $.post("", {
                'cmd': 'put_function_file',
                'function_name': function_name,
                'file_path': current_file_path,
                'file_content': file_content,
            }, function (data) {
                alert(JSON.stringify(data));
            });
        }
    </script>


{% endblock %}