{% extends 'dashboard/app/base.html' %}
{% load staticfiles %}
{% block content %}

    <div class="main-content">
        <!-- Top navbar -->
        {% include 'dashboard/app/top-navbar.html' %}
        <!-- Header -->
        <input id="view-tag" value="guide" hidden>
        <div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 600px; background-image: url({% static 'assets/img/theme/market.jpg' %}); background-size: cover; background-position: center top;">
            <!-- Mask -->
            <span class="mask bg-gradient-default opacity-8"></span>
            <!-- Header container -->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-9">
                        <h1 class="display-2 text-white">{{ marketplace_logic.title }}</h1>
                        {% if marketplace_logic.verified %}
                            <h2 class="text-white"><span class="text-success">●</span> 인증 됨</h2>
                        {% else %}
                            <h2 class="text-white"><span class="text-danger">●</span> 인증 안됨</h2>
                        {% endif %}
                        <p class="text-white"><i class="ni ni-email-83 base"> {{ marketplace_logic.user.email }}</i></p>
                        <p class="text-white mt-0 mb-5">{{ marketplace_logic.description }}</p>
                        <a href="#!" data-toggle="modal" data-target="#modal-setup-marketplace-logic" class="btn btn-success">
                            가져오기
                            <i class="ni ni-cloud-download-95 align-baseline"></i>
                        </a>
                        {% if request.user == marketplace_logic.user %}
                            <a href="{% url 'marketplace_edit' app_id marketplace_logic.id %}" class="btn btn-outline-success">
                                수정
                                <i class="fa fa-edit align-baseline"></i>
                            </a>
                        {% endif %}
                        {% if request.user == marketplace_logic.user %}
                            <a href="#!" onclick="delete_marketplace_logic();" class="btn btn-outline-danger">
                                삭제
                                <i class="fa fa-trash align-baseline"></i>
                            </a>
                        {% endif %}
                    </div>
                    <div class="col-3 text-center">
                        {% if marketplace_logic.logo_image %}
                            <img class="rounded-circle" src="{{ marketplace_logic.logo_image.url }}" style="height: 20vh; width: 20vh;">
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modal-setup-marketplace-logic" tabindex="-1" role="dialog" aria-labelledby="modal-setup-marketplace-logic" aria-hidden="true">
            <div class="modal-dialog modal- modal-dialog-centered modal-" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="modal-title-default">함수 가져오기</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="pl-lg-12">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-username">함수 이름</label>
                                        <input id="function-name" type="text" class="form-control form-control-alternative" placeholder="{{ marketplace_logic.function_name }}">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p>
                            {% if marketplace_logic.verified %}
                                확인 버튼을 클릭하여 함수를 Logic 으로 가져옵니다.
                            {% else %}
                                <b>미인증 함수</b>를 가져오면 백엔드에 <b>심각한 문제</b>가 발생할수도 있습니다.
                            {% endif %}
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-link  ml-auto" data-dismiss="modal">취소</button>
                        <button id="setup-marketplace-logic" onclick="setup_marketplace_logic()" type="submit" class="btn btn-primary">가져오기</button>
                    </div>
                </div>
            </div>
        </div>


        <!-- Page content -->
        <div class="container-fluid mt--8">
            <div class="row mt-3">
                <div class="col-xl-12 mb-3 mb-xl-3">
                    <div class="card card-stats shadow">
                        <div class="card-header" style="height: 70px;">
                            <h2 class="text-black"><i class="fa fa-book"></i> README.md</h2>
                        </div>
                        <div class="card-body" style="overflow-x: auto">
                            <div class="row">
                                <div class="col-12">
                                    <div id="markdown-content" hidden>{{ marketplace_logic.content }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Footer -->
            <footer class="footer">
                <div class="row align-items-center justify-content-xl-between">
                    <div class="col-xl-6">
                        <div class="copyright text-center text-xl-left text-muted">
                            &copy; 2018 <a href="https://aws-interface.com" class="font-weight-bold ml-1" target="_blank">AWS Interface</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="{% static 'markdown/showdown.min.js' %}"></script>
    <script>
        function delete_marketplace_logic() {
            if (confirm('정말 삭제하시겠습니까?')){
                $.post('', {
                    cmd: 'delete_marketplace_logic',
                    id: '{{ marketplace_logic.id }}',
                }, function (data) {
                    if (data.error){
                        alert(data.error);
                    }else{
                        alert('삭제되었습니다');
                        window.location.reload();
                    }
                });
            }
        }
        function setup_marketplace_logic() {
            const function_name = $("#function-name").val();
            $.post('', {
                cmd: 'setup_marketplace_logic',
                function_name: function_name,
            }, function (data) {
                if (data.error){
                    alert(data.error.message);
                }else{
                    window.location.href = '{% url 'logic' app_id %}';
                    alert('추가되었습니다.');
                }
            });
        }
    </script>
    <script type="text/javascript">
        function loadContent() {
            const contentView = document.getElementById("markdown-content");
            const text = contentView.textContent;
            const converter = new showdown.Converter();
            const html = converter.makeHtml(text);
            contentView.innerHTML = html;
            contentView.hidden = false;
        }
        loadContent();
    </script>

{% endblock %}