{% extends 'dashboard/app/base.html' %}
{% load staticfiles %}
{% block content %}

    <div class="main-content">
        <!-- Top navbar -->
        {% include 'dashboard/app/top-navbar.html' %}
        <!-- Header -->
        <input id="view-tag" value="guide" hidden>
        <div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 600px; background-image: url({% static 'assets/img/theme/market.jpg' %}); background-size: cover; background-position: center top;">
            <!-- Mask -->
            <span class="mask bg-gradient-default opacity-8"></span>
            <!-- Header container -->
            <div class="container-fluid d-flex align-items-center">
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <h2 class="display-2 text-white">Edit</h2>
                        <p class="text-white">제출할 함수를 수정할시 다시 인증을 받아야합니다.</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Page content -->
        <div class="container-fluid mt--9">

            <div class="row mt-3">
                <div class="col-xl-12 mb-3 mb-xl-0">

                    <div class="card card-stats shadow">
                        <div class="card">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col-8">
                                        <h2 class="text-black"><i class="fa fa-edit"></i> 기본 정보</h2>
                                    </div>
                                    <div class="col-4 text-right">
                                        <button id="upload-btn" class="btn btn-sm btn-primary text-right">저장</button>
                                    </div>
                                </div>
                            </div>
                            <!-- Card body -->
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label>제목</label>
                                            <input id="title" class="form-control" type="text" placeholder="50자 이내의 표시될 제목" value="{{ marketplace_logic.title }}">
                                        </div>
                                    </div>
                                    <div class="col-8">
                                        <div class="form-group">
                                            <label>간단한 설명</label>
                                            <input id="description" class="form-control" type="text" placeholder="100자 이내의 간단한 설명" value="{{ marketplace_logic.description }}">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label>카테고리</label>
                                            <select id="category" class="form-control" value="{{ marketplace_logic.category }}">
                                                {% for category_id, value in categories %}
                                                    {% if category_id == marketplace_logic.category %}
                                                        <option selected id="{{ category_id }}">{{ value }}</option>
                                                    {% else %}
                                                        <option value="{{ category_id }}">{{ value }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label>로고 이미지 파일 변경 <input id="change-logo-image" type="checkbox" onchange="$('#logo-image').prop('disabled', !this.checked);"></label>
                                            <input id="logo-image" class="form-control" type="file" accept="image/*" disabled>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label>업로드할 함수 <input id="change-function" type="checkbox" onchange="$('#function-name').prop('disabled', !this.checked);"></label>
                                            <select id="function-name" class="form-control" disabled>
                                                {% for function in functions %}
                                                    <option
                                                            {% if marketplace_logic.function_name == function.function_name %}
                                                                selected
                                                            {% endif %}
                                                                value="{{ function.function_name }}">
                                                        {{ function.function_name }}
                                                    </option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>

            <div class="row">
                <div class="col-lg-12 col-md-12 mt-4">
                    <h2 class="text-black"><i class="fa fa-file-text"></i>  상세 내용 </h2>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-xl-12 mb-3 mb-xl-0">

                    <div class="card card-stats shadow">
                        <div class="card-body">
                            <div class="row align-items-center">
                                <div id="content-editor">
                                    <textarea style="display:none;">{{ marketplace_logic.content }}</textarea>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

            <!-- Footer -->
            <footer class="footer">
                <div class="row align-items-center justify-content-xl-between">
                    <div class="col-xl-6">
                        <div class="copyright text-center text-xl-left text-muted">
                            &copy; 2018 <a href="https://aws-interface.com" class="font-weight-bold ml-1" target="_blank">AWS Interface</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <script src="{%  static 'assets/vendor/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'editormd/editormd.js' %}"></script>

    <script type="text/javascript">
        var editor;
        window.onload = function () {
            editor = editormd("content-editor", {
                width     : "100%",
                height    : 720,
                toc       : true,
                todoList  : true,
                path      : '{% static 'editormd/lib/' %}',
            });
        };

        function uploadMarketplaceLogic(title, description, category, logo_image, function_name, content, change_logo_image, change_function){
            var formData = new FormData();
            formData.append('cmd', 'edit_marketplace_logic');
            formData.append('id', '{{ marketplace_logic.id }}');
            formData.append('title', title);
            formData.append('description', description);
            formData.append('category', category);
            formData.append('logo_image', logo_image);
            formData.append('function_name', function_name);
            formData.append('content', content);

            formData.append('change_logo_image', change_logo_image);
            formData.append('change_function', change_function);

            $.ajax({
                url : '',
                type : 'POST',
                data : formData,
                processData: false,  // tell jQuery not to process the data
                contentType: false,  // tell jQuery not to set contentType
                success : function(data) {
                    window.location.href = '{% url 'marketplace_detail' app_id marketplace_logic.id %}';
                }
            });
        }

        $("#upload-btn").click(function () {
            const title = $("#title").val();
            const description = $("#description").val();
            const category = $("#category").val();
            const logo_image = $("#logo-image")[0].files[0];
            const function_name = $("#function-name").val();
            const content = editor.getMarkdown();

            const change_logo_image = $("#change-logo-image").is(':checked') == true;
            const change_function = $("#change-function").is(':checked') == true;

            if (title.length < 1){
                alert('Title must be at least 1 characters.');
                return;
            }
            if (description.length < 1){
                alert('Description must be at least 1 characters.');
                return;
            }
            if (content.length < 1){
                alert('Content must be at least 1 characters.');
                return;
            }
            uploadMarketplaceLogic(title, description, category, logo_image, function_name, content, change_logo_image, change_function);
        });
    </script>
    <script src="{% static 'editormd/languages/en.js' %}"></script>

{% endblock %}