{% extends 'dashboard/app/base.html' %}
{% load staticfiles %}
{% block content %}

    <div class="main-content">
        <!-- Top navbar -->
        {% include 'dashboard/app/top-navbar.html' %}
        <!-- Header -->
        <input id="view-tag" value="guide" hidden>
        <div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 600px; background-image: url({% static 'assets/img/theme/market.jpg' %}); background-size: cover; background-position: center top;">
            <!-- Mask -->
            <span class="mask bg-gradient-default opacity-8"></span>
            <!-- Header container -->
            <div class="container-fluid d-flex align-items-center">
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <h1 class="display-2 text-white">Marketplace</h1>
                        <h2 class="text-white">순식간에 확장하세요</h2>
                        <p class="text-white mt-0 mb-5">미리 만들어진 클라우드 함수를 빠르게 서비스에 통합하세요</p>
                        <a href="{% url 'marketplace_create' app_id %}" class="btn btn-primary">
                            함수 업로드하기
                            <i class="ni ni-cloud-upload-96 align-baseline"></i>
                        </a>
                        <a href="#" target="_blank" class="btn btn-outline-success" data-toggle="modal" data-target="#modal-uploaded-function-list">
                            업로드한 함수 목록
                            <i class="fa fa-list align-baseline"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modal-uploaded-function-list" tabindex="-1" role="dialog" aria-labelledby="modal-uploaded-function-list" aria-hidden="true">
            <div class="modal-dialog modal- modal-dialog-centered modal-" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="modal-title-default">업로드한 함수 목록</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="pl-lg-12">
                            <div class="row">
                                {% for marketplace_logic in my_marketplace_logics %}
                                    <div class="col-xl-12 mb-3 mb-xl-3">
                                        <div class="card card-stats shadow">
                                            <div class="card-body">
                                                <div class="row align-items-center">
                                                    <div class="col-auto">
                                                        <!-- Avatar -->
                                                        <a href="{% url 'marketplace_detail' app_id marketplace_logic.id %}" class="avatar avatar-xl rounded-circle bg-gradient-blue">
                                                            {% if marketplace_logic.logo_image %}
                                                                <img src="{{ marketplace_logic.logo_image.url }}" style="height: 100%; width: 100%;">
                                                            {% else %}
                                                                <i class="ni ni-app"></i>
                                                            {% endif %}
                                                        </a>
                                                    </div>
                                                    <div class="col ml--2">
                                                        <h4 class="mb-0">
                                                            <a href="{% url 'marketplace_detail' app_id marketplace_logic.id %}">{{ marketplace_logic.title }}</a>
                                                        </h4>
                                                        <p class="text-sm text-muted mb-0">{{ marketplace_logic.description }}</p>
                                                        {% if marketplace_logic.verified %}
                                                            <span class="text-success">●</span>
                                                            <small>인증 됨</small>
                                                        {% else %}
                                                            <span class="text-danger">●</span>
                                                            <small>인증 안됨</small>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-link  ml-auto" data-dismiss="modal">닫기</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Page content -->
        <div class="container-fluid mt--8">

            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <h2 class="text-white"><i class="fa fa-star"></i> Developer's choice</h2>
                </div>
            </div>

            <div class="row mt-3">

                {% for marketplace_logic in top_setup_marketplace_logics %}
                    {% if top_setup_marketplace_logics|length == 1 %}
                        <div class="col-xl-12 mb-3 mb-xl-0">
                    {% else %}
                        <div class="col-xl-6 mb-3 mb-xl-0">
                    {% endif %}
                <div class="card card-stats shadow">
                    <div class="card">
                        <!-- Card body -->
                        <div class="card-body">
                            <a href="{% url 'marketplace_detail' app_id marketplace_logic.id %}">
                                {% if marketplace_logic.logo_image %}
                                    <img src="{{ marketplace_logic.logo_image.url }}" class="rounded-circle img-center img-fluid shadow shadow-lg--hover" style="width: 128px; height: 128px;">
                                {% endif %}
                            </a>
                            <div class="pt-4 text-center">
                                <a href="{% url 'marketplace_detail' app_id marketplace_logic.id %}">
                                    <h5 class="h3 title">
                                        <span class="d-block mb-1">{{ marketplace_logic.title }}</span>
                                        <small class="h4 font-weight-light text-muted">{{ marketplace_logic.description }}</small>
                                    </h5>
                                </a>
                                {% if marketplace_logic.verified %}
                                    <span class="text-success">●</span>
                                    <small>인증 됨</small>
                                {% else %}
                                    <span class="text-danger">●</span>
                                    <small>인증 안됨</small>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                </div>

                </div>
                {% endfor %}
                </div>

                <div class="row">
                    <div class="col-lg-12 col-md-12 mt-4">
                        <h2 class="text-black"><i class="fa fa-history"></i> Recently added </h2>
                    </div>
                </div>

                <div class="row mt-3">
                    {% for marketplace_logic in marketplace_logics %}
                        <div class="col-xl-6 mb-3 mb-xl-3">
                            <div class="card card-stats shadow">
                                <div class="card-body">
                                    <div class="row align-items-center">
                                        <div class="col-auto">
                                            <!-- Avatar -->
                                            <a href="{% url 'marketplace_detail' app_id marketplace_logic.id %}" class="avatar avatar-xl rounded-circle bg-gradient-blue">
                                                {% if marketplace_logic.logo_image %}
                                                    <img src="{{ marketplace_logic.logo_image.url }}" style="height: 100%; width: 100%;">
                                                {% else %}
                                                    <i class="ni ni-app"></i>
                                                {% endif %}
                                            </a>
                                        </div>
                                        <div class="col ml--2">
                                            <a href="{% url 'marketplace_detail' app_id marketplace_logic.id %}">
                                                <h4 class="mb-0">
                                                    {{ marketplace_logic.title }}
                                                </h4>
                                                <p class="text-sm text-muted mb-0">{{ marketplace_logic.description }}</p>
                                            </a>

                                            {% if marketplace_logic.verified %}
                                                <span class="text-success">●</span>
                                                <small>인증 됨</small>
                                            {% else %}
                                                <span class="text-danger">●</span>
                                                <small>인증 안됨</small>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                </div>


                <!-- Footer -->
                <footer class="footer">
                    <div class="row align-items-center justify-content-xl-between">
                        <div class="col-xl-6">
                            <div class="copyright text-center text-xl-left text-muted">
                                &copy; 2018 <a href="https://aws-interface.com" class="font-weight-bold ml-1" target="_blank">AWS Interface</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>

{% endblock %}