{% extends 'dashboard/app/base.html' %}
{% load staticfiles %}
{% block content %}

    {% load timetags %}
    <div class="main-content">
        <!-- Top navbar -->
        {% include 'dashboard/app/top-navbar.html' %}
        <!-- Header -->
        <input id="view-tag" value="logic" hidden>
        <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
            <div class="container-fluid">
                <div class="header-body">
                    <div class="alert alert-primary" role="alert">
                        <strong>AWS Lambda, DynamoDB</strong>  {{ _('are used') }}
                    </div>

                    <!-- Card stats -->

                </div>
            </div>
        </div>
        <!-- Page content -->
        <div class="container-fluid mt--7">
            <div class="row">
                <div class="col-xl-12">
                    <div class="card shadow">
                        <div class="card-header border-0">
                            <div class="row align-items-center">
                                <div class="col-3">
                                    <h3 class="mb-0">
                                        {{ _('Email Providers') }}
                                    </h3>
                                </div>

                                <div class="col-9">
                                    <div class="row" style="text-align: right;">

                                            <div class="col-12">
                                                <button data-toggle="modal" data-target="#modal-create-email-provider" class="btn btn-sm btn-primary">
                                                    <span class="btn-inner--text" style="color: white;">{{ _('Create email provider') }}</span>
                                                </button>
                                            </div>
                                        </div>
                                </div>

                            </div>
                        </div>
                        <div id="email-provider-table" class="table-responsive">
                            <!-- Projects table -->
                            <table class="table align-items-center table-flush">
                                <thead class="thead-light">
                                <tr>
                                    <th scope="col">name</th>
                                    <th scope="col">description</th>
                                    <th scope="col">url</th>
                                    <th scope="col">port</th>
                                    <th scope="col">email</th>
                                    <th scope="col">creationDate</th>
                                </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>

                        <div class="modal fade" id="modal-create-email-provider" tabindex="-1" role="dialog" aria-labelledby="modal-create-email-provider" aria-hidden="true">
                                    <div class="modal-dialog modal- modal-dialog-centered modal-" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title" id="modal-title-default">{{ _("Create email provider") }}</h4>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">×</span>
                                                </button>
                                            </div>
                                            <form method="post">{% csrf_token %}
                                                <input name="cmd" value="create_email_provider" hidden>
                                                <div class="modal-body">
                                                    <div class="pl-lg-12">
                                                        <div class="row">
                                                            <div class="col-lg-12">
                                                                <div class="form-group">
                                                                    <label class="form-control-label" for="email-provider-name">{{ _("Name") }}</label>
                                                                    <input id="email-provider-name" name="email-provider-name" type="text" class="form-control form-control-alternative" placeholder="{{ _("Email provider name") }}">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="form-control-label" for="email-provider-description">{{ _("Description") }}</label>
                                                                    <input id="email-provider-description" name="email-provider-description" type="text" class="form-control form-control-alternative" placeholder="{{ _("Email provider description") }}">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="form-control-label" for="email-provider-url">{{ _("URL") }}</label>
                                                                    <input id="email-provider-url" name="email-provider-url" type="text" class="form-control form-control-alternative" placeholder="{{ _("URL") }}">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="form-control-label" for="email-provider-port">{{ _("Port") }}</label>
                                                                    <input id="email-provider-port" name="email-provider-port" type="number" class="form-control form-control-alternative" placeholder="{{ _("Port") }}">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="form-control-label" for="email-provider-email">{{ _("Email") }}</label>
                                                                    <input id="email-provider-email" name="email-provider-email" type="email" class="form-control form-control-alternative" placeholder="{{ _("Email") }}">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="form-control-label" for="email-provider-password">{{ _("Password") }}</label>
                                                                    <input id="email-provider-password" name="email-provider-password" type="password" class="form-control form-control-alternative" placeholder="{{ _("Password") }}">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <p>
                                                        {{ _("Click the confirm button to create the email provider") }}
                                                    </p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-link  ml-auto" data-dismiss="modal">{{ _("Cancel") }}</button>
                                                    <button id="create-email-provider" type="submit" class="btn btn-primary">{{ _("Confirm") }}</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>

                        <button id="load-more-email-provider-btn" class="btn-primary btn-block rounded-bottom" onclick="load_more_email_providers();">
                            {{ _('More items') }} +
                        </button>
                    </div>
                </div>
            </div>
            <div class="row mt-7">

            </div>
            <!-- Footer -->
            <footer class="footer">
                <div class="row align-items-center justify-content-xl-between">
                    <div class="col-xl-6">
                        <div class="copyright text-center text-xl-left text-muted">
                            &copy; 2018 <a href="https://aws-interface.com" class="font-weight-bold ml-1" target="_blank">AWS Interface</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <script>
        var end_key = null;
        function load_more_email_providers(){
            var item = {
                cmd: 'get_email_provider_rows',
            };
            if (end_key != null){
                item['start_key'] = end_key;
            }
            $.post("", item, function (data) {
                end_key = data['end_key'];
                if (end_key == null){
                    $("#load-more-email-provider-btn").hide();
                }
                const rows = data['rows'];
                $("#email-provider-table>table").append(rows);
            });
        }
        window.onload = function () {
            $(document).ready(function () {
                load_more_email_providers();
            });
        };
    </script>

{% endblock %}