{% extends 'dashboard/app/base.html' %}
{% load staticfiles %}
{% block content %}

    {% load timetags %}
    <div class="main-content">
        <!-- Top navbar -->
        {% include 'dashboard/app/top-navbar.html' %}
        <!-- Header -->
        <input id="view-tag" value="logic" hidden>
        <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
            <div class="container-fluid">
                <div class="header-body">
                    <div class="alert alert-primary" role="alert">
                        <strong>AWS Lambda, DynamoDB</strong>  {{ _('are used') }}
                    </div>

                    <!-- Card stats -->

                </div>
            </div>
        </div>
        <!-- Page content -->
        <div class="container-fluid mt--7">


            <div class="row mt-3">
                <div class="col-xl-12">
                    <div class="card shadow">
                        <div class="card-header border-0">
                            <div class="row align-items-center">
                                <div class="col-3">
                                    <h3 class="mb-0">
                                        {{ _('Slack webhooks') }}
                                    </h3>
                                </div>

                                <div class="col-9">
                                    <div class="row" style="text-align: right;">

                                            <div class="col-12">
                                                <button data-toggle="modal" data-target="#modal-create-slack-webhook" class="btn btn-sm btn-primary">
                                                    <span class="btn-inner--text" style="color: white;">{{ _('Create slack webhook') }}</span>
                                                </button>
                                            </div>
                                        </div>
                                </div>

                            </div>
                        </div>
                        <div id="slack-webhook-table" class="table-responsive">
                            <!-- Projects table -->
                            <table class="table align-items-center table-flush">
                                <thead class="thead-light">
                                <tr>
                                    <th scope="col">name</th>
                                    <th scope="col">webhook_url</th>
                                    <th scope="col">creationDate</th>
                                    <th scope="col">modification</th>
                                </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>

                        <div class="modal fade" id="modal-create-slack-webhook" tabindex="-1" role="dialog" aria-labelledby="modal-create-slack-webhook" aria-hidden="true">
                                    <div class="modal-dialog modal- modal-dialog-centered modal-" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title" id="modal-title-default">{{ _("Create slack webhook") }}</h4>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">×</span>
                                                </button>
                                            </div>


                                                <div class="modal-body">
                                                    <div class="pl-lg-12">
                                                        <div class="row">
                                                            <div class="col-lg-12">
                                                                <div class="form-group">
                                                                    <label class="form-control-label" for="slack-webhook-name">{{ _("Name") }}</label>
                                                                    <input id="slack-webhook-name" name="slack-webhook-name" type="text" class="form-control form-control-alternative" placeholder="{{ _("Slack webhook name") }}">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="form-control-label" for="email-provider-url">{{ _("Webhook Url") }}</label>
                                                                    <input id="email-slack-webhook-url" name="slack-webhook-url" type="text" class="form-control form-control-alternative" placeholder="{{ _("URL") }}">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <p>
                                                        {{ _("Click the confirm button to create the slack webhook") }}
                                                    </p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-link  ml-auto" data-dismiss="modal">{{ _("Cancel") }}</button>
                                                    <button onclick="createSlackWebhook();" type="submit" class="btn btn-primary">{{ _("Confirm") }}</button>
                                                </div>

                                        </div>
                                    </div>
                                </div>

                        <button id="load-more-slack-webhook-btn" class="btn-primary btn-block rounded-bottom" onclick="load_more_slack_webhooks();">
                            {{ _('More items') }} +
                        </button>
                    </div>
                </div>
            </div>


            <div class="row mt-7">
                <div class="col-xl-12">
                    <div class="card shadow">
                        <div class="card-header border-0">
                            <div class="row align-items-center">
                                <div class="col-6">
                                    <h3 class="mb-0">
                                        {{ _('Slack webhooks for system notification') }}
                                    </h3>
                                </div>

                                <div class="col-6">
                                    <div class="row" style="text-align: right;">
                                            <div class="col-12">
                                                <button data-toggle="modal" data-target="#modal-create-slack-webhook-for-system-notification" class="btn btn-sm btn-primary">
                                                    <span class="btn-inner--text" style="color: white;">{{ _('Create slack webhook for system notification') }}</span>
                                                </button>
                                            </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div id="system-notification-table" class="table-responsive">
                            <!-- Projects table -->
                            <table class="table align-items-center table-flush">
                                <thead class="thead-light">
                                <tr>
                                    <th scope="col">name</th>
                                    <th scope="col">creationDate</th>
                                    <th scope="col">modification</th>
                                </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>

                        <div class="modal fade" id="modal-create-slack-webhook-for-system-notification" tabindex="-1" role="dialog" aria-labelledby="modal-create-slack-webhook-for-system-notification" aria-hidden="true">
                                    <div class="modal-dialog modal- modal-dialog-centered modal-" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title" id="modal-title-default">{{ _("Create slack webhook for system notification") }}</h4>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">×</span>
                                                </button>
                                            </div>

                                                <div class="modal-body">
                                                    <div class="pl-lg-12">
                                                        <div class="row">
                                                            <div class="col-lg-12">
                                                                <div class="form-group">
                                                                    <label class="form-control-label" for="slack-webhook-name">{{ _("Name") }}</label>
                                                                    <select id="system_notification_slack_webhook_name" class="form-control">
                                                                        {% for slack_webhook in slack_webhooks.items %}
                                                                            <option value="{{ slack_webhook.name }}">{{ slack_webhook.name }}</option>
                                                                        {% endfor %}
                                                                    </select>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <p>
                                                        {{ _("Click the confirm button to create the slack webhook") }}
                                                    </p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-link  ml-auto" data-dismiss="modal">{{ _("Cancel") }}</button>
                                                    <button onclick="createSystemNotification();" type="submit" class="btn btn-primary">{{ _("Confirm") }}</button>
                                                </div>
                                        </div>
                                    </div>
                                </div>

                        <button id="load-more-system-notification-btn" class="btn-primary btn-block rounded-bottom" onclick="load_more_system_notifications();">
                            {{ _('More items') }} +
                        </button>
                    </div>
                </div>
            </div>


            <div class="row mt-7">

                <div class="col-xl-12">
                    <div class="card shadow">
                        <div class="card-header border-0">
                            <div class="row align-items-center">
                                <div class="col-3">
                                    <h3 class="mb-0">
                                        {{ _('SMS Message') }}
                                    </h3>
                                </div>

                                <div class="col-9">
                                    <div class="row" style="text-align: right;">

                                            <div class="col-12">
                                                <button onclick="send_sms();" class="btn btn-sm btn-primary">
                                                    <span class="btn-inner--text" style="color: white;">{{ _('Send sms message') }}</span>
                                                </button>
                                            </div>
                                        </div>
                                </div>

                            </div>
                        </div>
                        <div class="table-responsive">
                            <!-- Projects table -->
                            <table class="table align-items-center table-flush">
                                <thead class="thead-light">
                                <tr>
                                    <th scope="col">{{ _('Content') }}</th>
                                    <th scope="col">{{ _('Phone number list') }}</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>
                                        <textarea id="sms-message" class="form-control" rows="13" placeholder="Text message content"></textarea>
                                    </td>
                                    <td>
                                        <label>Default nation code:
                                            <input id="sms-nation-code" class="form-control" type="text" value="+82">
                                        </label>
                                            <textarea id="sms-phone-number-list" class="form-control" rows="10" placeholder="01012345678&#13;&#10;01098765432"></textarea>

                                    </td>
                                </tr>

                                </tbody>
                            </table>
                        </div>


                    </div>
                </div>

            </div>
            <!-- Footer -->
            <footer class="footer">
                <div class="row align-items-center justify-content-xl-between">
                    <div class="col-xl-6">
                        <div class="copyright text-center text-xl-left text-muted">
                            &copy; 2018 <a href="https://aws-interface.com" class="font-weight-bold ml-1" target="_blank">AWS Interface</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <script>
        var end_key = null;
        var slack_webhooks_end_key = null;
        var system_notifications_end_key = null;
        
        function createSlackWebhook() {
            const name = $("#slack-webhook-name").val();
            const url = $("#slack-webhook-url").val();
            $.post("", {
                cmd: 'create_slack_webhook',
                name: name,
                url: url
            }, function (data) {
                alert(JSON.stringify(data));
                window.location.reload();
            });
        }
        
        function createSystemNotification() {
            const slack_webhook_name = $("#system_notification_slack_webhook_name").val();
            $.post("", {
                cmd: 'create_system_notification',
                slack_webhook_name: slack_webhook_name,
            }, function (data) {
                alert(JSON.stringify(data));
                window.location.reload();
            });
        }

        function deleteEmailProvider(name) {
            if (!confirm("{{ _('Are you sure you want to delete?') }}")){
                return;
            }
            $.post("", {
                cmd: 'delete_email_provider',
                name: name
            }, function (data) {
                alert(JSON.stringify(data));
                window.location.reload();
            });
        }

        function deleteSlackWebhook(name) {
            if (!confirm("{{ _('Are you sure you want to delete?') }}")){
                return;
            }
            $.post("", {
                cmd: 'delete_slack_webhook',
                name: name
            }, function (data) {
                alert(JSON.stringify(data));
                window.location.reload();
            });
        }

        function deleteSystemNotificationSlackWebhook(system_notification_id) {
            if (!confirm("{{ _('Are you sure you want to delete?') }}")){
                return;
            }
            $.post("", {
                cmd: 'delete_system_notification',
                system_notification_id: system_notification_id
            }, function (data) {
                alert(JSON.stringify(data));
                window.location.reload();
            });
        }

        function load_more_slack_webhooks(){
            var item = {
                cmd: 'get_slack_webhook_rows',
            };
            if (slack_webhooks_end_key != null){
                item['start_key'] = slack_webhooks_end_key;
            }
            $.post("", item, function (data) {
                slack_webhooks_end_key = data['end_key'];
                if (slack_webhooks_end_key == null){
                    $("#load-more-slack-webhook-btn").hide();
                }
                const rows = data['rows'];
                $("#slack-webhook-table>table").append(rows);
            });
        }
        
        function load_more_system_notifications() {
            var item = {
                cmd: 'get_system_notification_rows'
            };
            if (system_notifications_end_key != null){
                item['start_key'] = system_notifications_end_key;
            }
            $.post("", item, function (data) {
                system_notifications_end_key = data['end_key'];
                if (system_notifications_end_key == null){
                    $("#load-more-system-notification-btn").hide();
                }
                const rows = data['rows'];
                $("#system-notification-table>table").append(rows);
            });
        }

        function send_sms(){
            const message = $("#sms-message").val();
            const phone_number_list = $("#sms-phone-number-list").val();
            const nation_code = $("#sms-nation-code").val();
            $.LoadingOverlay('show');
            const numbers = phone_number_list.split("\n");
            var new_numbers = [];
            for (var number of numbers){
                number = number.replace('\n', '');
                if (number.startsWith('+')){
                    new_numbers.push(number);
                }else{
                    new_numbers.push(nation_code + number);
                }
            }
            new_numbers.forEach(function (number, idx) {
                $.post('', {
                cmd: 'send_sms',
                'sms-phone-number': number,
                'sms-message': message,
                }, function (response) {
                    if (idx == new_numbers.length - 1){
                        $.LoadingOverlay('hide');
                        alert("Complete!");
                    }
                });
            });
            
        }

        window.onload = function () {
            $(document).ready(function () {
                load_more_slack_webhooks();
                load_more_system_notifications();
            });
        };
    </script>

{% endblock %}