{% extends 'dashboard/app/base.html' %}
{% load staticfiles %}
{% load i18n %}
{% block content %}

<div class="main-content">
    <!-- Top navbar -->
    {% include 'dashboard/app/top-navbar.html' %}
    <!-- Header -->

    <div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 600px; background-image: url({% static 'assets/img/theme/laptop.jpg' %}); background-size: cover; background-position: center top;">
      <!-- Mask -->
      <span class="mask bg-gradient-default opacity-8"></span>
      <!-- Header container -->
      <div class="container-fluid align-items-center">
        <div class="row">
          <div class="col-lg-9 col-md-9">
            <h1 class="display-2 text-white">{{ app_name }}</h1>
            <h2 class="text-white">AWS-Interface 에 오신걸 환영합니다</h2>
	          <p class="text-white mt-0 mb-5">간단한 설정을 통해 강력한 백엔드 서비스를 순식간에 생성할 수 있습니다.</p>
	          <a href="{% url 'guide' app_id %}" class="btn btn-success">가이드 문서 확인</a>
	          <a href="https://github.com/hubaimaster/aws-interface" target="_blank" class="btn btn-neutral btn-icon">
		          <span class="nav-link-inner--text">View on Github</span>
	          </a>
	          <a href="{% url 'overview' app_id %}?cmd=download_sdk" class="btn btn-info">{% trans 'Download SDK' %}</a>
          </div>
        </div>
      </div>
    </div>

    <!-- Page content -->
    <div class="container-fluid mt--8">
      <div class="row mt-3">
        <div class="col-xl-6 mb-5 mb-xl-0">
          <div class="card card-stats shadow">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h4>지출 요금 확인</h4>
                  <h1 class="mb-0">Bill</h1>
                </div>
                   <div class="col-auto">
                    <i class="ni ni-money-coins text-yellow"></i>
                </div>
              </div>
            </div>
            <div class="card-footer">
                <a href="{% url 'bill' app_id %}" class="btn btn-sm btn-primary text-white">바로가기</a>
            </div>
          </div>
        </div>

          <div class="col-xl-6 mb-5 mb-xl-0">
          <div class="card card-stats shadow">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h4>회원 관리 및 인증</h4>
                  <h1 class="mb-0">Auth</h1>
                </div>
                <div class="col-auto">
                    <i class="ni ni-single-02 text-blue"></i>
                </div>
              </div>
            </div>
              <div class="card-footer">
                <a href="{% url 'auth' app_id %}" class="btn btn-sm btn-primary text-white">바로가기</a>
            </div>
          </div>
        </div>

      </div>

        <div class="row mt-3">
        <div class="col-xl-6 mb-5 mb-xl-0">
          <div class="card card-stats shadow">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h4>자동 스케일 데이터베이스 관리</h4>
                  <h1 class="mb-0">Database</h1>
                </div>
                   <div class="col-auto">
                    <i class="ni ni-bullet-list-67 text-orange"></i>
                </div>
              </div>
            </div>
              <div class="card-footer">
                <a href="{% url 'database' app_id %}" class="btn btn-sm btn-primary text-white">바로가기</a>
            </div>
          </div>
        </div>

            <div class="col-xl-6 mb-5 mb-xl-0">
          <div class="card card-stats shadow">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h4/>미디어 및 바이너리 파일 관리</h4>
                  <h1 class="mb-0">Storage</h1>
                </div>
                   <div class="col-auto">
                    <i class="ni ni-archive-2 text-red"></i>
                </div>
              </div>
            </div>
              <div class="card-footer">
                <a href="{% url 'storage' app_id %}" class="btn btn-sm btn-primary text-white">바로가기</a>
            </div>
          </div>
        </div>

      </div>

        <div class="row mt-3">

                <div class="col-xl-6 mb-5 mb-xl-0">
          <div class="card card-stats shadow">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h4>서버리스 코드 관리</h4>
                  <h1 class="mb-0">Logic</h1>
                </div>
                   <div class="col-auto">
                    <i class="ni ni-cloud-upload-96 text-green"></i>
                </div>
              </div>
            </div>
              <div class="card-footer">
                <a href="{% url 'logic' app_id %}" class="btn btn-sm btn-primary text-white">바로가기</a>
            </div>
          </div>
        </div>

      </div>
      <!-- Footer -->
      <footer class="footer">
        <div class="row align-items-center justify-content-xl-between">
          <div class="col-xl-6">
            <div class="copyright text-center text-xl-left text-muted">
              &copy; 2018 <a href="https://aws-interface.com" class="font-weight-bold ml-1" target="_blank">AWS Interface</a>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </div>

{% endblock %}