{% extends 'dashboard/app/base.html' %}
{% load staticfiles %}
{% block content %}

<div class="main-content">
    <!-- Top navbar -->
    {% include 'dashboard/app/top-navbar.html' %}
    <!-- Header -->

    <div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 600px; background-image: url({% static 'assets/img/theme/laptop.jpg' %}); background-size: cover; background-position: center top;">
      <!-- Mask -->
      <span class="mask bg-gradient-default opacity-8"></span>
      <!-- Header container -->
      <div class="container-fluid d-flex align-items-center">
        <div class="row">
          <div class="col-lg-9 col-md-9">
            <h1 class="display-2 text-white">AWS-Interface 에 오신걸 환영합니다</h1>
            <p class="text-white mt-0 mb-5">몇번의 클릭을 통해 강력한 백엔드 서비스를 순식간에 생성할 수 있습니다.</p>
            <a href="#!" class="btn btn-info">공식 문서 확인</a>
              <a href="https://github.com/hubaimaster/aws-interface" target="_blank" class="btn btn-neutral btn-icon">
                  <span class="nav-link-inner--text">View on Github</span>
                </a>
          </div>
        </div>
      </div>
    </div>

    <!-- Page content -->
    <div class="container-fluid mt--8">

      <div class="row mt-5">
        <div class="col-xl-6 mb-5 mb-xl-0">
          <div class="card shadow">
            <div class="card-header border-0">
              <div class="row align-items-center">
                <div class="col">
                  <h5>지출 요금 확인</h5>
                  <h1 class="mb-0">Bill</h1>

                </div>
              </div>
            </div>
            <div class="card-body">

            </div>

          </div>
        </div>
        <div class="col-xl-6 mb-5 mb-xl-0">
          <div class="card shadow">
            <div class="card-header border-0">
              <div class="row align-items-center">
                <div class="col">
                  <h5>회원 관리 및 인증</h5>
                  <h1 class="mb-0">Auth</h1>
                </div>
              </div>
            </div>
            <div class="card-body">

            </div>

          </div>
        </div>
      </div>
      <!-- Footer -->
      <footer class="footer">
        <div class="row align-items-center justify-content-xl-between">
          <div class="col-xl-6">
            <div class="copyright text-center text-xl-left text-muted">
              &copy; 2018 <a href="https://aws-interface.com" class="font-weight-bold ml-1" target="_blank">AWS Interface</a>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </div>

{% endblock %}