{% extends 'dashboard/app/base.html' %}
{% load staticfiles %}
{% block content %}

    <div class="main-content">
        <!-- Top navbar -->
        {% include 'dashboard/app/top-navbar.html' %}
        <!-- Header -->
        <input id="view-tag" value="overview" hidden>
        <div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 600px; background-image: url({% static 'assets/img/theme/laptop.jpg' %}); background-size: cover; background-position: center top;">

            <!-- Mask -->
            <span class="mask bg-gradient-default opacity-8"></span>
            <!-- Header container -->
            <div class="container-fluid align-items-center">
                <div class="row">
                    <div class="col-lg-9 col-md-9">
                        <h1 class="display-2 text-white">{{ app_name }}</h1>
                        <h2 class="text-white">{{ _("Welcome") }} :)</h2>
                        <p class="text-white mt-0 mb-5">{{ _("Create powerful backends and easily manage them") }}</p>

                        <div class="dropdown">
                            <button id="show-sdk-button" class="btn btn-info mt-2" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="ni ni-mobile-button"></i>
                                {{ _("Download SDK") }}
                            </button>
                            <div class="dropdown-menu dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a id="download-sdk-python3" class="dropdown-item text-body" href="{% url 'overview' app_id %}?cmd=download_sdk&platform=python3">
                                    <img src="{% static 'assets/img/icons/common/python.png' %}" style="max-height: 24px; max-width: 24px;">
                                    Python3.6
                                </a>

                                <a id="download-sdk-swift" class="dropdown-item text-body" href="{% url 'overview' app_id %}?cmd=download_sdk&platform=swift">
                                    <img src="{% static 'assets/img/icons/common/swift.svg' %}" style="max-height: 24px; max-width: 24px;">
                                    Swift
                                </a>

                                <a id="download-sdk-nodejs" class="dropdown-item text-body" href="{% url 'overview' app_id %}?cmd=download_sdk&platform=nodejs">
                                    <img src="{% static 'assets/img/icons/common/nodejs.svg' %}" style="max-height: 24px; max-width: 24px;">
                                    Node.js
                                </a>

                                <a id="download-sdk-java" class="dropdown-item text-body" href="{% url 'overview' app_id %}?cmd=download_sdk&platform=java">
                                    <img src="{% static 'assets/img/icons/common/java.svg' %}" style="max-height: 24px; min-width: 24px;">
                                     JAVA
                                </a>

                                <a id="download-sdk-javascript" class="dropdown-item text-body" href="{% url 'overview' app_id %}?cmd=download_sdk&platform=javascript">
                                    <img src="{% static 'assets/img/icons/common/javascript.svg' %}" style="max-height: 24px; min-width: 24px;">
                                     JavaScript Web
                                </a>

                            </div>
                        </div>

                        <a href="https://github.com/hubaimaster/aws-interface" target="_blank" class="btn btn-dark btn-icon mt-2">
                            <i class="fab fa-github mr-2"></i> <span class="nav-link-inner--text">Github repo</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Page content -->
        <div class="container-fluid mt--8">
            <div class="row mt-3">

                <div class="col-xl-6 mb-5 mb-xl-0">
                    <div class="card card-stats shadow">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h4>{{ _('Membership Management and Certification') }}</h4>
                                    <h1 class="mb-0">Auth</h1>
                                </div>
                                <div class="col-auto">
                                    <i class="ni ni-single-02 text-blue"></i>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <a href="{% url 'auth' app_id %}" class="btn btn-block btn-primary text-white">{{ _('Shortcuts') }}</a>
                        </div>
                    </div>
                </div>

                <div class="col-xl-6 mb-5 mb-xl-0">
                    <div class="card card-stats shadow">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h4>{{ _('Automatic Scale Database Management') }}</h4>
                                    <h1 class="mb-0">Database</h1>
                                </div>
                                <div class="col-auto">
                                    <i class="ni ni-bullet-list-67 text-orange"></i>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <a href="{% url 'database' app_id %}" class="btn btn-block btn-primary text-white">{{ _('Shortcuts') }}</a>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row mt-3">

                <div class="col-xl-6 mb-5 mb-xl-0">
                    <div class="card card-stats shadow">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h4>{{ _('Media and Binary File Management') }}</h4>
                                    <h1 class="mb-0">Storage</h1>
                                </div>
                                <div class="col-auto">
                                    <i class="ni ni-archive-2 text-red"></i>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <a href="{% url 'storage' app_id %}" class="btn btn-block btn-primary text-white">{{ _('Shortcuts') }}</a>
                        </div>
                    </div>
                </div>

                <div class="col-xl-6 mb-5 mb-xl-0">
                    <div class="card card-stats shadow">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h4>{{ _('Serverless Code Management') }}</h4>
                                    <h1 class="mb-0">Logic</h1>
                                </div>
                                <div class="col-auto">
                                    <i class="ni ni-cloud-upload-96 text-green"></i>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <a href="{% url 'logic' app_id %}" class="btn btn-block btn-primary text-white">{{ _('Shortcuts') }}</a>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row mt-3">

                <div class="col-xl-6 mb-5 mb-xl-0">
                    <div class="card card-stats shadow">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h4>{{ _('Logging and management') }}</h4>
                                    <h1 class="mb-0">Log</h1>
                                </div>
                                <div class="col-auto">
                                    <i class="ni ni-books text-dark"></i>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <a href="{% url 'log' app_id %}" class="btn btn-block btn-primary text-white">{{ _('Shortcuts') }}</a>
                        </div>
                    </div>
                </div>

            </div>
            <!-- Footer -->
            <footer class="footer">
                <div class="row align-items-center justify-content-xl-between">
                    <div class="col-xl-6">
                        <div class="copyright text-center text-xl-left text-muted">
                            &copy; 2018 <a href="https://aws-interface.com" class="font-weight-bold ml-1" target="_blank">AWS Interface</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>

{% endblock %}