{% extends 'dashboard/app/base.html' %}
{% load staticfiles %}
{% block content %}

<div class="main-content">
    <!-- Top navbar -->
    {% include 'dashboard/app/top-navbar.html' %}
    <!-- Header -->
    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
      <div class="container-fluid">
        <div class="header-body">
          <!-- Card stats -->
          <div class="alert alert-primary" role="alert">
                <strong>AWS S3, AWS DynamoDB, AWS Lambda</strong>  를 사용합니다.
            </div>

        </div>
      </div>
    </div>
    <!-- Page content -->
    <div class="container-fluid mt--7">
      <div class="row mt-4">
          <div class="col-xl-12">
          <div class="card shadow">
            <div class="card-header border-0">
              <div class="row align-items-center">
                <div class="col">
                  <h3 class="mb-0">/</h3>
                </div>

                  <div class="col text-right">
                  <a data-toggle="modal" data-target="#modal-put-folder" class="btn btn-sm btn-success">
                      <span class="btn-inner--text" style="color: white;">폴더 생성</span>
                  </a>
                  <a data-toggle="modal" data-target="#modal-upload-file" class="btn btn-sm btn-primary">
                      <span class="btn-inner--text" style="color: white;">파일 업로드</span>
                  </a>

                </div>
                  <div class="modal fade" id="modal-put-folder" tabindex="-1" role="dialog" aria-labelledby="modal-put-folder" aria-hidden="true">
                    <div class="modal-dialog modal- modal-dialog-centered modal-" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h4 class="modal-title" id="modal-title-default">폴더 생성</h4>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                          </button>
                        </div>

                            <div class="modal-body">
                                <div class="pl-lg-12">
                                  <div class="row">
                                    <div class="col-lg-12">

                                      <div class="form-group">
                                        <label class="form-control-label" for="folder-parent-path">생성 위치</label>
                                        <input name="folder-parent-path" type="text" id="folder-parent-path" class="form-control form-control-alternative" placeholder="/" disabled>
                                      </div>

                                      <div class="form-group">
                                        <label class="form-control-label" for="folder-name">이름</label>
                                        <input name="folder-name" type="text" id="folder-name" class="form-control form-control-alternative" placeholder="폴더 이름">
                                      </div>

                                    </div>
                                  </div>
                                </div>
                              <p>
                                  확인 버튼을 클릭하여 폴더를 생성합니다.
                              </p>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-link  ml-auto" data-dismiss="modal">취소</button>
                              <button id="create-folder" class="btn btn-primary">확인</button>
                            </div>

                      </div>
                    </div>
                  </div>
                  
                  <div class="modal fade" id="modal-upload-file" tabindex="-1" role="dialog" aria-labelledby="modal-upload-file" aria-hidden="true">
                    <div class="modal-dialog modal- modal-dialog-centered modal-" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h4 class="modal-title" id="modal-title-default">파일 업로드</h4>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                          </button>
                        </div>

                            <input name="cmd" value="put_user" hidden>
                            <div class="modal-body">
                                <div class="pl-lg-12">
                                  <div class="row">
                                    <div class="col-lg-12">

                                      <div class="form-group">
                                        <label class="form-control-label" for="file-parent-path">업로드 위치</label>
                                        <input name="file-parent-path" type="text" id="file-parent-path" class="form-control form-control-alternative" placeholder="/" disabled>
                                      </div>
                                      <div class="form-group">
                                        <label class="form-control-label" for="file-bin">파일</label>
                                        <input name="file-bin" type="file" id="file-bin" class="form-control form-control-alternative btn">
                                      </div>

                                      <div class="form-group">
                                        <label class="form-control-label" for="input-username">파일을 읽을 수 있는 그룹</label>
                                        <div id="read-groups" class="mb-2">

                                        </div>

                                          <div class="dropdown">
                                              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                그룹 추가
                                              </button>
                                              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                {% for group in user_groups %}
                                                <a class="dropdown-item" onclick="put_read_group('{{ group.name }}');">{{ group.name }} : {{ group.description }}</a>
                                                {% endfor %}
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="{% url 'auth' app_id %}">회원 그룹 관리</a>
                                              </div>
                                          </div>

                                      </div>

                                      <div class="form-group">
                                        <label class="form-control-label" for="input-username">파일을 쓰기 또는 삭제 할 수 있는 그룹</label>
                                        <div id="write-groups" class="mb-2">

                                        </div>

                                          <div class="dropdown">
                                              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                그룹 추가
                                              </button>
                                              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                {% for group in user_groups %}
                                                <a class="dropdown-item" onclick="put_write_group('{{ group.name }}');">{{ group.name }} : {{ group.description }}</a>
                                                {% endfor %}
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="{% url 'auth' app_id %}">회원 그룹 관리</a>
                                              </div>
                                          </div>
                                      </div>

                                    </div>
                                  </div>
                                </div>
                              <p>
                                  확인 버튼을 클릭하여 파일을 업로드 합니다.
                              </p>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-link  ml-auto" data-dismiss="modal">취소</button>
                              <button id="upload-file" class="btn btn-primary">확인</button>
                            </div>

                      </div>
                    </div>
                  </div>


              </div>
            </div>
            <div class="table-responsive">
              <!-- Projects table -->
              <table id="dir-table" class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">name</th>
                    <th scope="col">type</th>
                    <th scope="col">create date</th>
                    <th scope="col">read groups</th>
                    <th scope="col">write groups</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>

                    <tr>
                    <th scope="row">
                      sd
                    </th>
                    <td>
                      sd
                    </td>
                    <td>
                      sd
                    </td>
                    <td>
                      sd
                    </td>
                      <td>
                      sd
                    </td>
                    <td>
                        <button type="submit" class="btn btn-sm btn-outline-danger">수정</button>
                        <button type="submit" class="btn btn-sm btn-danger">제거</button>
                    </td>
                  </tr>

                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- Footer -->
      <footer class="footer">
        <div class="row align-items-center justify-content-xl-between">
          <div class="col-xl-6">
            <div class="copyright text-center text-xl-left text-muted">
              &copy; 2018 <a href="https://aws-interface.com" class="font-weight-bold ml-1" target="_blank">AWS Interface</a>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </div>

  <script>
    var read_groups = ["all"];
    var write_groups = ["all"];
    function render_folder(folder_path) {
        $("#dir-table>tbody").empty();
    }
    function create_folder(parent_path, folder_name) {
        $.post("", {
            cmd: "create_folder",
            parent_path: parent_path,
            folder_name: folder_name,
        }, function (data) {
            render_folder(parent_path);
        });
    }
    function upload_file(parent_path, file_bin, read_groups, write_groups) {
        $.post("", {
            cmd: "upload_file",
            parent_path: parent_path,
            file_bin: file_bin,
            read_groups: read_groups,
            write_groups: write_groups,
        }, function (data) {
            render_folder(parent_path);
        });
    }

    function render_read_groups() {
        $("#read-groups").empty();
        for (var i = 0; i < read_groups.length; i++){
            var group = read_groups[i];
            var tag = "<a onclick=\"remove_read_group('" + group + "')\" class=\"btn badge badge-primary\">" + group + "</a>\n";
            $("#read-groups").append(tag);
        }
    }
    function render_write_groups() {
        $("#write-groups").empty();
        for (var i = 0; i < write_groups.length; i++){
            var group = write_groups[i];
            var tag = "<a onclick=\"remove_write_group('" + group + "')\" class=\"btn badge badge-primary\">" + group + "</a>\n";
            $("#write-groups").append(tag);
        }
    }
    function put_read_group(group_name) {
        if (read_groups.includes(group_name)){
            alert("이미 해당 그룹이 존재합니다");
        }else{
            read_groups.push(group_name);
            render_read_groups();
        }
    }
    function remove_read_group(group_name) {
        read_groups.remove(group_name);
        render_read_groups();
    }
    function put_write_group(group_name) {
        if (write_groups.includes(group_name)){
            alert("이미 해당 그룹이 존재합니다");
        }else{
            write_groups.push(group_name);
            render_write_groups();
        }
    }
    function remove_write_group(group_name) {
        write_groups.remove(group_name);
        render_write_groups();
    }
    window.onload = function () {
        render_read_groups();
        render_write_groups();
        $("#create-folder").click(function () {
            var parent_path = $("#folder-parent-path").val();
            var folder_name = $("#folder-name").val();
            if (folder_name == null || folder_name.length == 0){
                alert("폴더 이름을 채워주세요");
                return;
            }
            create_folder(parent_path, folder_name);
        });
        $("#upload-file").click(function () {
            var parent_path = $("#folder-parent-path").val();
            var file_bin = $("#file-bin").val();
            if (file_bin == null || file_bin.length == 0){
                alert("파일을 지정해주세요");
                return;
            }
            if (read_groups.length == 0 || write_groups.length == 0){
                alert("권한 그룹은 1개 이상 지정해야 합니다");
                return;
            }
            upload_file(parent_path, file_bin, read_groups, write_groups);
        });
    };
  </script>

{% endblock %}