{% extends 'dashboard/app/base.html' %}
{% load staticfiles %}
{% load timetags %}
{% block content %}

    <div class="main-content">
        <!-- Top navbar -->
        {% include 'dashboard/app/top-navbar.html' %}
        <!-- Header -->
        <input id="view-tag" value="storage" hidden>
        <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
            <div class="container-fluid">
                <div class="header-body">
                    <!-- Card stats -->
                    <div class="alert alert-primary" role="alert">
                        <strong>AWS S3, AWS DynamoDB, AWS Lambda</strong>  {{ _("are used") }}
                    </div>
                    <div class="alert alert-default" role="alert">
                        <strong>Auth </strong> {{ _("dependency") }}
                    </div>

                </div>
            </div>
        </div>
        <!-- Page content -->
        <div class="container-fluid mt--7">

            <div class="row mt-4">
                <div class="col-xl-12 mb-5 mb-xl-0">
                    <div class="card shadow">
                        <div class="card-header border-1">
                            <div class="row align-items-center">
                                <div class="col-auto">
                                    <h4 class="mb-0">

                                        {{ _("Policy") }} <i class="fa fa-question-circle" data-toggle="tooltip" data-placement="top" title="{{ _("If the value of the has_permission function is True, each Create, Read, and Delete operation is allowed") }}"></i>

                                        {{ _("Mode") }}:
                                        <select class="form-control-alternative" onchange="set_policy_mode(this.value);">
                                            <option value="create"><span>Create</span></option>
                                            <option value="read"><span>Read</span></option>
                                            <option value="delete"><span>Delete</span></option>
                                        </select>

                                    </h4>
                                </div>
                                <div class="text-right">
                                    <button class="btn btn-sm btn-primary" onclick="save_policy();">Save</button>
                                </div>
                            </div>

                        </div>
                        <div>
                            <div id="code-editor" style="height: 250px;">
                                <!-- CODE EDITOR -->
                                <style type="text/css" media="screen">
                                    #editor {
                                        margin: 0;
                                        margin-top: 69px;
                                        position: absolute;
                                        top: 0;
                                        bottom: 0;
                                        left: 0;
                                        right: 0;
                                    }
                                </style>
                                <pre id="editor"></pre>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row mt-3">
                <div class="col-xl-12">
                    <div class="card shadow">
                        <div class="card-header border-0">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h3 id="path-name" class="mb-0">
                                        {{ _("Files") }}
                                    </h3>
                                </div>

                                <div class="col text-right">

                                    <a data-toggle="modal" data-target="#modal-upload-file" class="btn btn-sm btn-primary">
                                        <span class="btn-inner--text" style="color: white;">{{ _("Upload file") }}</span>
                                    </a>

                                </div>

                                <div class="modal fade" id="modal-upload-file" tabindex="-1" role="dialog" aria-labelledby="modal-upload-file" aria-hidden="true">
                                    <div class="modal-dialog modal- modal-dialog-centered modal-" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title" id="modal-title-default">{{ _("Upload file") }}</h4>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">×</span>
                                                </button>
                                            </div>

                                            <div class="modal-body">
                                                <div class="pl-lg-12">
                                                    <div class="row">
                                                        <div class="col-lg-12">

                                                            <div class="form-group">
                                                                <label class="form-control-label" for="file-parent-path">ID</label>
                                                                <input name="file-parent-path" type="text" id="file-parent-path" class="form-control form-control-alternative" placeholder="{{ _("Auto generated") }}" disabled>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="form-control-label" for="file-bin">{{ _("File") }}</label>
                                                                <input name="file-bin" type="file" id="file-bin" class="form-control form-control-alternative btn">
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                                <p>
                                                    {{ _("Click the confirm button to upload file") }}
                                                </p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-link  ml-auto" data-dismiss="modal">{{ _("Cancel") }}</button>
                                                <button id="upload-file" class="btn btn-primary">{{ _("Confirm") }}</button>
                                            </div>

                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                        <div id="file-table" class="table-responsive">
                            <!-- Projects table -->
                            <table class="table align-items-center table-flush">
                                <thead class="thead-light">
                                <tr>
                                    <th scope="col">id</th>
                                    <th scope="col">name</th>
                                    <th scope="col">owner</th>
                                    <th scope="col">create date</th>
                                    <th scope="col">size</th>
                                    <th scope="col"></th>
                                </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                        <button id="load-more-files-btn" class="btn-primary btn-block rounded-bottom" onclick="load_more_files();">
                            {{ _("More items") }} +
                        </button>
                    </div>
                </div>
            </div>
            <!-- Footer -->
            <footer class="footer">
                <div class="row align-items-center justify-content-xl-between">
                    <div class="col-xl-6">
                        <div class="copyright text-center text-xl-left text-muted">
                            &copy; 2018 <a href="https://aws-interface.com" class="font-weight-bold ml-1" target="_blank">AWS Interface</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>


    <script src="{% static 'ace/src-noconflict/ace.js' %}" type="text/javascript" charset="utf-8"></script>

    <script>
        const editor = ace.edit("editor");
        editor.session.setMode("ace/mode/python");

        function set_policy_mode(mode) {
            policy_mode = mode;
            $("#set-policy-btn").html(mode);
            $.post("", {
                'cmd': 'get_policy_code',
                'mode': mode,
            }, function (data) {
                editor.setValue(data.code, -1);
            });
        }

        function save_policy() {
            const code = editor.getValue();
            $.post("", {
                'cmd': 'put_policy',
                'mode': policy_mode,
                'code': code,
            }, function (data) {
                if ('error' in data){
                    alert(data.error.message);
                }else{
                    alert('Your policy code has been saved');
                }
            });
        }

    </script>

    <script>

        var files_end_key = null;

        function upload_file(parent_path, file_name, file_bin) {
            var formData = new FormData();
            formData.append('cmd', 'upload_b64');
            formData.append('file_bin', file_bin);
            formData.append('file_name', file_name);
            $.ajax({
                url : '',
                type : 'POST',
                data : formData,
                processData: false,  // tell jQuery not to process the data
                contentType: false,  // tell jQuery not to set contentType
                success : function(data) {
                    window.location.reload();
                }
            });
        }

        function delete_b64(file_id){
            $.LoadingOverlay('show', {
                text:'Deleting file...'
            });
            $.post("", {
                cmd: 'delete_b64',
                file_id: file_id,
            }, function (data) {
                window.location.reload();
            });
        }

        function load_more_files(){
            var item = {
                cmd: 'get_file_rows',
            };
            if (files_end_key != null){
                item['start_key'] = files_end_key;
            }
            $.post("", item, function (data) {
                files_end_key = data['end_key'];
                if (files_end_key == null){
                    $("#load-more-files-btn").hide();
                }
                const rows = data['file_rows'];
                $("#file-table>table").append(rows);
            });
        }

        window.onload = function () {
            $(document).ready(function () {
                load_more_files();
                set_policy_mode('create');

                $("#upload-file").click(function () {
                    var parent_path = $("#folder-parent-path").val();
                    var file_bin = $('#file-bin')[0].files[0];
                    var filename = $("#file-bin").val().replace(/.*(\/|\\)/, '');
                    if (file_bin == null || file_bin.length == 0) {
                        alert("{{ _('Please specify the file') }}");
                        return;
                    }
                    upload_file('{{ folder_path }}', filename, file_bin);
                    $("#modal-upload-file").modal('hide');
                });
            });
        };
    </script>


{% endblock %}