<!-- Top navbar -->
<nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main">
    <div class="container-fluid">
        <!-- Brand -->
        <a class="h4 mb-0 text-white text-uppercase  d-lg-inline-block"></a>
        <!-- User -->
        <ul id="nav-user" class="navbar-nav align-items-center d-none d-md-flex"><li class="nav-item dropdown">
            <a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <div class="media align-items-center">
                    <i class="ni ni-circle-08"></i>
                    <div class="media-body ml-2 d-lg-block">
                        <span class="mb-0 text-sm  font-weight-bold">{{ user.email }}</span>
                    </div>
                </div>
            </a>
            <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right">
                <a href="{% url 'apps' %}" class="dropdown-item">
                    <i class="ni ni-app"></i>
                    <span>어플리케이션 목록</span>
                </a>
                <a href="{%  url 'accesskey' %}" class="dropdown-item">
                    <i class="ni ni-settings"></i>
                    <span class="nav-link-inner--text">인증 정보 변경</span>
                </a>
                <div class="dropdown-divider"></div>
                <a href="{% url 'logout' %}" class="dropdown-item">
                    <i class="ni ni-user-run"></i>
                    <span>로그아웃</span>
                </a>
            </div>
        </li></ul>
    </div>
</nav>
