<!-- Top navbar -->
<nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main">
    <div class="container-fluid">
        <!-- Brand -->
        <a class="h4 mb-0 text-white text-uppercase  d-lg-inline-block"></a>
        <!-- User -->
        <ul id="nav-user" class="navbar-nav align-items-center d-none d-md-flex"><li class="nav-item dropdown">
            <a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <div class="media align-items-center">
                    <i class="ni ni-circle-08"></i>
                    <div class="media-body ml-2 d-lg-block">
                        <span class="mb-0 text-sm  font-weight-bold">{{ user.email }}</span>
                    </div>
                </div>
            </a>
            <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right">
                <div class=" dropdown-header noti-title">
                    <h6 class="text-overflow m-0">환영합니다</h6>
                </div>
                <a href="{% url 'apps' %}" class="dropdown-item">
                    <i class="ni ni-app"></i>
                    <span>Apps</span>
                </a>
                <div class="dropdown-divider"></div>
                <a href="{% url 'logout' %}" class="dropdown-item">
                    <i class="ni ni-user-run"></i>
                    <span>Logout</span>
                </a>
            </div>
        </li></ul>
    </div>
</nav>
